{
  "openapi": "3.0.0",
  "info": {
    "title": "Asana",
    "description": "Work anytime, anywhere with Asana. Keep remote and distributed teams, and your entire organization, focused on their goals, projects, and tasks with Asana.",
    "x-categories": [
      "project-management",
      "productivity"
    ],
    "x-logo": {
      "url": "/logos/asana.svg"
    },
    "termsOfService": "https://asana.com/terms",
    "contact": {
      "name": "Asana Support",
      "url": "https://asana.com/support"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://app.asana.com/api/1.0",
      "description": "Main endpoint."
    }
  ],
  "security": [
    {
      "personalAccessToken": []
    },
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Attachments",
      "description": "An *attachment* object represents any file attached to a task in Asana, whether it’s an uploaded file or one associated via a third-party service such as Dropbox or Google Drive."
    },
    {
      "name": "Batch API",
      "description": "There are many cases where you want to accomplish a variety of work in the Asana API but want to minimize the number of HTTP requests you make. For example:\n\n* Modern browsers limit the number of requests that a single web page can\n  make at once.\n* Mobile apps will use more battery life to keep the cellular radio on\n  when making a series of requests.\n* There is an overhead cost to developing software that can make multiple\n  requests in parallel.\n* Some cloud platforms handle parallelism poorly, or disallow it\n  entirely.\n\n\nTo make development easier in these use cases, Asana provides a **batch API** that enables developers to perform multiple “actions” by making only a single HTTP request.\n\n#### Making a Batch Request\n\nTo make a batch request, send a `POST` request to `/batch`. Like other `POST` endpoints, the body should contain a `data` envelope. Inside this envelope should be a single `actions` field, containing a list of “action” objects.  Each action represents a standard request to an existing endpoint in the Asana API.\n\n**The maximum number of actions allowed in a single batch request is 10**. Making a batch request with no actions in it will result in a `400 Bad Request`.\n\nWhen the batch API receives the list of actions to execute, it will dispatch those actions to the already-implemented endpoints specified by the `relative_path` and `method` for each action. This happens in parallel, so all actions in the request will be processed simultaneously. There is no guarantee of the execution order for these actions, nor is there a way to use the output of one action as the input of another action (such as creating a task and then commenting on it).\n\nThe response to the batch request will contain (within the `data` envelope) a list of result objects, one for each action. The results are guaranteed to be in the same order as the actions in the request, e.g., the first result in the response corresponds to the first action in the request.\n\nThe batch API will always attempt to return a `200 Success` response with individual result objects for each individual action in the request. Only in certain cases (such as missing authorization or malformed JSON in the body) will the entire request fail with another status code. Even if every individual action in the request fails, the batch API will still return a `200 Success` response, and each result object in the response will contain the errors encountered with each action.\n\n#### Rate Limiting\n\nThe batch API fully respects all of our rate limiting. This means that a batch request counts against *both* the standard rate limiter and the concurrent request limiter as though you had made a separate HTTP request for every individual action. For example, a batch request with five actions counts as five separate requests in the standard rate limiter, and counts as five concurrent requests in the concurrent request limiter. The batch request itself incurs no cost.\n\nIf any of the actions in a batch request would exceed any of the enforced limits, the *entire* request will fail with a `429 Too Many Requests` error. This is to prevent the unpredictability of which actions might succeed if not all of them could succeed.\n\n#### Restrictions\n\nNot every endpoint can be accessed through the batch API. Specifically, the following actions cannot be taken and will result in a `400 Bad Request` for that action:\n\n* Uploading attachments\n* Creating, getting, or deleting organization exports\n* Any SCIM operations\n* Nested calls to the batch API"
    },
    {
      "name": "Custom Fields",
      "description": "In the Asana application, Tasks, Projects, and Portfolios can hold user-specified Custom Fields which provide extra information; for example, a priority value or a number representing the time required to complete a Task. This lets a user define the type of information that each Item within a Project or Portfolio can contain in addition to the built-in fields that Asana provides.\n\n**Note:** Custom Fields are a premium feature. Integrations which work with Custom Fields need to handle an assortment of use cases for free and premium users in context of free and premium organizations. For a detailed examination of to what data users will have access in different circumstances, read the section below on access control.\n\nThe characteristics of Custom Fields are:\n\n* There is metadata that defines the Custom Field. This metadata can be shared across an entire workspace, or be specific to a Project or Portfolio.\n* Creating a Custom Field Setting on a Project or Portfolio means each direct child will have the custom field. This is conceptually akin to adding columns in a database or a spreadsheet: every Task (row) in the Project (table) can contain information for that field, including \"blank\" values, i.e. `null` data. For Portfolio custom fields, every Project (row) in the Portfolio (table) will contain information for the custom field.\n* Custom Field Settings only go one child deep. Meaning a custom field setting on a portfolio will give each project the custom field, but not each task within those projects.\n* Tasks have Custom Field _values_ assigned to them.\n\nA brief example: let's imagine that an organization has defined a Custom Field for \"Priority\". This field is of `enum` type and can have user-defined values of `Low`, `Medium`, or `High`. This is the field metadata, and it is visible within, and shared across, the entire organization.\n\nA Project is then created in the organization, called \"Bugs\", and the \"Priority\" Custom Field is associated with that Project. This will allow all Tasks within the \"Bugs\" Project to have an associated \"Priority\".\n\nA new Task is created within \"Bugs\". This Task, then, has a field named \"Priority\" which can take on the Custom Field value of one of `[null]`, `Low`, `Medium`, and `High`.\n\nThese Custom Fields are accessible via the API through a number of endpoints at the top level (e.g. `/custom_fields` and `/custom_field_settings`) and through calls on Workspaces, Portfolios, Projects, and Tasks resources. The API also provides a way to fetch both the metadata and data which define each particular Custom Field, so that a client application may render proper UI to display or edit the values.\n\nCustom Field aware integrations need to be aware of the basic types that Custom Fields can adopt. These types are:\n\n* `text` - an arbitrary, relatively short string of text\n* `number` - a number with a defined level of precision\n* `enum` - a selection from a defined list of options\n\nText fields are currently limited to 1024 characters. On Tasks, their Custom Field value will have a `text_value` property to represent this field.\n\nNumber fields can have an arbitrary `precision` associated with them; for example, a precision of `2` would round its value to the second (hundredths) place, i.e. 1.2345 would round to 1.23. On Tasks, the Custom Field value will have a `number_value` property to represent this field.\n\nEnum fields represent a selection from a list of options. On the metadata, they will contain all of the options in an array. Each option has 4 properties:\n\n* `gid` - the gid of this enum option. Note that this is the gid of the _option_ - the Custom Field itself has a separate `gid`.\n* `name` - the name of the option, e.g. \"Choice #1\"\n* `enabled` - whether this field is enabled. Disabled fields are not available to choose from when disabled, and are visually hidden in the Asana application, but they remain in the metadata for Custom Field values which were set to the option before the option was disabled.\n* `color` - a color associated with this choice.\n\nOn the Task's Custom Field value, the enum will have an `enum_value` property which will be the same as one of the choices from the list defined in the Custom Field metadata.\n\n#### Querying an organization for its Custom Fields\n\nFor Custom Fields shared across the workspace or organization, the Workspace [can be queried](/docs/get-a-workspace-39-s-custom-fields) for its list of defined Custom Fields. Like other collection queries, the fields will be returned as a compact record; slightly different from most other compact records is the fact that the compact record for Custom Fields includes `type` as well as `gid` and `name`.\n\n#### Accessing Custom Field definitions\n\nThe [Custom Fields](/docs/get-a-custom-field) reference describes how the metadata which defines a Custom Field is accessed. A GET request with a `gid` can be issued on the `/custom_fields` endpoint to fetch the full definition of a single Custom Field given its `gid` from (for instance) listing all Custom Fields on a Workspace, or getting the `gid` from a Custom Field Settings object or a Task.\n\n#### Associating Custom Fields with a Project or Portfolio\n\nA mapping between a Custom Field and a Project or Portfolio is handled with a [Custom Field Settings](/docs/asana-custom-field-settings) object. This object contains a reference for each of the Custom Field and the Project or Porfolio, as well as additional information about the status of that particular Custom Field. For instance, `is_important`, which defines whether or not the custom field will appear in the list/grid on the Asana application.\n\n#### Accessing Custom Field values on Tasks or Projects\n\nThe [Tasks](/docs/get-a-task) reference has information on how Custom Fields look on Tasks. Custom Fields will return as an array on the property `custom_fields`, and each entry will contain, side-by-side, the compact representation of the Custom Field metadata and a `{typename}_value` property that stores the value set for the Custom Field.\n\nOf particular note is that the top-level `gid` of each entry in the `custom_fields` array is the `gid` of the Custom Field metadata, as it is the compact representation of this metadata. This can be used to refer to the full metadata by making a request to the `/custom_fields/{custom_fields_id}` endpoint as described above.\n\nCustom Fields can be set just as in the Asana-defined fields on a task via POST or PUT requests. You can see an example on the [update a task](/docs/update-a-task) endpoint.\n\nCustom Fields on projects follow this same pattern.\n\n#### Warning: Program defensively with regards to Custom Field definitions\n\nAsana application users have the ability to change the definitions of Custom Field metadata. This means that as you write scripts or applications to work with them, it's possible for the definitions to change at any time, which may cause an application using them to break or malfunction if it makes assumptions about the metadata for a particular Custom Field. When using Custom Fields, it is a good idea to program *defensively*, meaning you your application should double-check that the Custom Field metadata is what it expects.\n\nStoring the state of the Custom Field metadata for too long if you dynamically create a model for it can cause your model to become unsynchronized with the model stored in Asana. If you encounter (for example) an `enum` value on a Task that does not match any option in your metadata model, your metadata model has become out of date with the Custom Field metadata.\n\n**Note:** We are currently studying proposals for future implementations to more elegantly handle the modification of Custom Field metadata for application integrations.\n\n#### Enabled and Disabled Values\n\nWhen information that is contained in a Custom Field value loses a logical association with its metadata definition, the value becomes disabled. This can happen in a couple of simple ways, for example, if you remove the Custom Field metadata from a Project, or move a Task with a Custom Field to a different Project which does not have the Custom Field metadata associated with it. The value remains on the Task, and the Custom Field metadata can still be found and examined, but as the context in which the Custom Field makes sense is gone, the Custom Field cannot change its value; it can only be cleared.\n\nNote: Tasks that are associated with multiple Projects do not become disabled, so long as at least one of the Projects is still associated with the Custom Field metadata. In other words, Tasks with multiple Projects will retain logically associated to the set of Custom Field metadata represented by all of their Projects.\n\nMoving the Task back under a Project with that Custom Field applied to it or applying the Custom Field metadata to the current Project will return the Custom Field value to an enabled state. In this scenario, the Custom Field will be re-enabled and editable again.\n\nIn the Asana application, disabled fields are grayed out and not allowed to change, other than to be discarded. In the API, we return a property `enabled: false` to inform the external application that the value has been disabled.\n\nNote that the API enforces the same operations on disabled Custom Field values as hold in the Asana application: they may not have their values changed, since the lack of context for the values of a custom field in general doesn't provide enough information to know what new values should be. Setting the Custom Field value to `null` will clear and remove the Custom Field value from the Task.\n\n#### Custom Field access control\n\nCustom Fields are a complex feature of the Asana platform, and their access in the Asana application and in the API vary based on the status of the user and project. When building your application, it's best to be defensive and not assume the given user will have read or write access to a custom field, and fail gracefully when this occurs."
    },
    {
      "name": "Custom Field Settings",
      "description": "Custom fields are attached to a particular project with the Custom Field Settings resource. This resource both represents the many-to-many join of the Custom Field and Project as well as stores information that is relevant to that particular pairing; for instance, the `is_important` property determines some possible application-specific handling of that custom field."
    },
    {
      "name": "Events",
      "description": "An *event* is an object representing a change to a resource that was observed by an event subscription.\n\nIn general, requesting events on a resource is faster and subject to higher rate limits than requesting the resource itself. Additionally, change events bubble up - listening to events on a project would include when stories are added to tasks in the project, even on subtasks.\n\nEstablish an initial sync token by making a request with no sync token. The response will be a `412` error - the same as if the sync token had expired.\n\nSubsequent requests should always provide the sync token from the immediately preceding call.\n\nSync tokens may not be valid if you attempt to go ‘backward’ in the history by requesting previous tokens, though re-requesting the current sync token is generally safe, and will always return the same results.\n\nWhen you receive a `412 Precondition Failed` error, it means that the sync token is either invalid or expired. If you are attempting to keep a set of data in sync, this signals you may need to re-crawl the data.\n\nSync tokens always expire after 24 hours, but may expire sooner, depending on load on the service."
    },
    {
      "name": "Jobs",
      "description": "Jobs represent processes that handle asynchronous work.\nJobs are created when an endpoint requests an action that will be handled asynchronously. Such as project or task duplication.\nOnly the creator of the duplication process can access the duplication status of the new object."
    },
    {
      "name": "Organization Exports",
      "description": "An *organization_export* object represents a request to export the complete data of an Organization in JSON format.\n\nTo export an Organization using this API:\n\n* Create an `organization_export`\n  [request](/docs/create-an-organization-export-request)\n  and store the id that is returned.\n* Request the `organization_export` every few minutes, until the\n  `state` field contains ‘finished’.\n* Download the file located at the URL in the `download_url` field. * Exports can take a long time, from several minutes to a few hours\n  for large Organizations.\n\n\n*Note: These endpoints are only available to [Service Accounts](https://asana.com/guide/help/premium/service-accounts) of an [Enterprise](https://asana.com/enterprise) Organization.*"
    },
    {
      "name": "Portfolios",
      "description": "A 'portfolio' gives a high-level overview of the status of multiple initiatives in Asana. Portfolios provide a dashboard overview of the state of multiple projects, including a progress report and the most recent [project status](/docs/asana-project-statuses) update.\nPortfolios have some restrictions on size. Each portfolio has a max of 250 items and, like projects, a max of 20 custom fields."
    },
    {
      "name": "Portfolio Memberships",
      "description": "This object determines if a user is a member of a portfolio."
    },
    {
      "name": "Projects",
      "description": "A `project` represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. It exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.\n\nProjects in organizations are shared with a single team. You cannot currently change the team of a project via the API. Non-organization workspaces do not have teams and so you should not specify the team of project in a regular workspace.\n\nFollowers of a project are a subset of the members of that project. Followers of a project will receive all updates including tasks created, added and removed from that project. Members of the project have access to and will receive status updates of the project. Adding followers to a project will add them as members if they are not already, removing followers from a project will not affect membership."
    },
    {
      "name": "Project Memberships",
      "description": "With the introduction of “comment-only” projects in Asana, a user’s membership in a project comes with associated permissions. These permissions (whether a user has full access to the project or comment-only access) are accessible through the project memberships endpoints described here."
    },
    {
      "name": "Project Statuses",
      "description": "A *project status* is an update on the progress of a particular project, and is sent out to all project followers when created. These updates include both text describing the update and a color code intended to represent the overall state of the project: “green” for projects that are on track, “yellow” for projects at risk, and “red” for projects that are behind.\n\nProject statuses can be created and deleted, but not modified."
    },
    {
      "name": "Sections",
      "description": "A *section* is a subdivision of a project that groups tasks together. It can either be a header above a list of tasks in a list view or a column in a board view of a project.\n\nSections are largely a shared idiom in Asana’s API for both list and board views of a project regardless of the project’s layout.\n\nThe ‘memberships’ property when [getting a task](/docs/get-a-task) will return the information for the section or the column under ‘section’ in the response."
    },
    {
      "name": "Stories",
      "description": "*See [our forum post](https://forum.asana.com/t/no-more-parsing-story-text-new-fields-on-stories/42924) for more info on when conditional fields are returned.*\n\nA *story* represents an activity associated with an object in the Asana system. Stories are generated by the system whenever users take actions such as creating or assigning tasks, or moving tasks between projects. *Comments* are also a form of user-generated story."
    },
    {
      "name": "Tags",
      "description": "A tag is a label that can be attached to any task in Asana. It exists in a single workspace or organization.\n\nTags have some metadata associated with them, but it is possible that we will simplify them in the future so it is not encouraged to rely too heavily on it. Unlike projects, tags do not provide any ordering on the tasks they are associated with."
    },
    {
      "name": "Tasks",
      "description": "The task is the basic object around which many operations in Asana are centered. In the Asana application, multiple tasks populate the middle pane according to some view parameters, and the set of selected tasks determines the more detailed information presented in the details pane.\n\nSections are unique in that they will be included in the *memberships* field of task objects returned in the API when the task is within a section. They can also be used to manipulate the ordering of a task within a project.\n\n[Queries](/docs/get-a-set-of-tasks) return a compact representation of each object which is typically the id and name fields. Interested in a specific set of fields or all of the fields? Use [field selectors](/docs/input-output-options) to manipulate what data is included in a response."
    },
    {
      "name": "Teams",
      "description": "A *team* is used to group related projects and people together within an organization. Each project in an organization is associated with a team."
    },
    {
      "name": "Team Memberships",
      "description": "This object determines if a user is a member of a team."
    },
    {
      "name": "Typeahead",
      "description": "The typeahead search API provides search for objects from a single workspace."
    },
    {
      "name": "Users",
      "description": "A user object represents an account in Asana that can be given access to various workspaces, projects, and tasks.\n\nLike other objects in the system, users are referred to by numerical IDs. However, the special string identifier `me` can be used anywhere a user ID is accepted, to refer to the current authenticated user."
    },
    {
      "name": "User Task Lists",
      "description": "A user task list represents the tasks assigned to a particular user.\n\nA user’s “My Tasks” represent all of the tasks assigned to that user. It is visually divided into regions based on the task’s [`assignee_status`](/docs/tocS_Task) for Asana users to triage their tasks based on when they can address them. When building an integration it’s worth noting that tasks with due dates will automatically move through `assignee_status` states as their due dates approach; read up on [task auto-promotion](https://asana.com/guide/help/fundamentals/my-tasks#gl-auto-promote) for more information."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks allow an application to be notified of changes in Asana. They are intended to provide an efficient way for integrations which react to changes of state in Asana to take action only when something has actually changed.\n\nThis is similar to our [Events](/docs/asana-events) resource, but webhooks \"push\" events via HTTP `POST` rather than expecting integrations to repeatedly \"poll\" for them. For services that are already accessible on the Internet this is often more convenient and efficient.\n\nHowever, webhooks _require_ a server to be accessible over the internet at all times to receive the event. For most simple integrations, Events provide much of the same benefits while using a significantly simpler implementation which does not require maintaining an internet-accessible server.\n\n#### The webhook \"handshake\"\nIn order to ensure that the receiving server is available to receive incoming events from a webhook Asana will `POST` to the requested target endpoint during the webhook creation request. In other words, the outgoing webhook creation request will wait to return until another full `POST` request from Asana's servers to the target has been completed, *then* the webhook creation request can return with a successful response.\n\n*Note: this means that your server must be able to handle being blocked on the outgoing create request while still being able to receive and handle an incoming request. A common reason that webhook handshakes fail is that servers are not able to asynchronously handle the handshake request.*\n\nIncluded in the webhook handshake is a HTTP header called `X-Hook-Secret`.  To successfully complete the handshake the receiving server should echo back the same header with the same value and a `200 OK` or `204 No Content` response code.\n\nThe purpose of this header is to provide a shared secret that both Asana and the receiving server both store--this is the only time it will be transmitted. In future webhook events Asana will use this key to compute a signature over the webhook callback request's body which can be used to verify that the incoming request was genuine (details below). We strongly recommend that you take advantage of this security feature and reject webhooks that have an invalid signature.\n\n#### Receiving Events\n\nBecause multiple events often happen in short succession, a webhook payload is designed to be able to transmit multiple events at once. The schema of these events is described in [Event](/docs/tocS_Event).\n\nThe HTTP POST that the target receives contains:\n\n\n * An `X-Hook-Signature` header, which allows verifying that the payload\n is genuine.  The signature is a SHA256 HMAC signature computed on the\n request body using the shared secret transmitted during the handshake.\n Verification is **strongly recommended**, as it would otherwise be\n possible for an attacker to POST a malicious payload to the same\n endpoint.\n * A JSON body with a single key, `events`, containing an array of the\n events that have occurred since the last webhook delivery. (Note that this\n list may be empty, as periodically we send a \"heartbeat\" webhook to\n verify that the endpoint is still available.)\n\n\nNote that events are \"skinny\" and contain only some basic details of the change, not the whole resource. We expect integrations to make additional calls to the API to retrieve the latest state from Asana.\n\n#### Filtering\nWebhook events will \"propagate up\" from contained objects through to parent objects--for instance, changes to comments will be sent to webhooks on the parent task and to ones on the task's projects. In this way a webhook on a project will be notified of all changes that occur in all of its tasks, subtasks of those tasks, and comments on those tasks and subtasks.\n\nThis can be a lot of data, some of which might not be relevant to a particular integration, so Asana's webhooks have a filtering feature which allows integrations to specify only the types of changes that they care about. By specifying the list of [WebhookFilter](/docs/tocS_WebhookFilter)s on webhook creation an integration can select just the subset of events it wants to receive.  When filters are specified on the webhook events will only be delivered if they pass any of the filters specified when creating the webhook.\n\nTo reduce the volume of data to transfer, webhooks created on teams, portfolios, and workspaces *must* specify filters. In addition, the set of event filters that can be placed on a team-level or workspace-level webhook is more limited than filters for webhooks that are created on lower-level resources:\n\n\n * Webhook events from tasks, subtasks, and stories won't be propagated\n to these higher-level webhooks, so all changes on these resources are\n automatically filtered out.\n * Webhook events from `project` resources can be filtered for these\n `action`s: `added`, `removed`, `deleted`, `undeleted`, and `changed`.\n * Webhook events from `team_membership` resources can be filtered to\n `action`s `added` and `removed`.\n * Webhook events from `workspace_membership` resources can be filtered\n to `added` and `removed`.\n\n\n#### Error Handling and Retry\n\nIf we attempt to send a webhook payload and we receive an error status code, or the request times out, we will retry delivery with exponential backoff. In general, if your servers are not available for an hour, you can expect it to take no longer than approximately an hour after they come back before the paused delivery resumes. However, if we are unable to deliver a message for 24 hours the webhook will be deactivated.\n#### Resources and Actions\nThis is not an exhaustive list, but should cover the most common use cases.\n\n\n * Attachment - deleted, undeleted\n * Portfolio - added, deleted, removed\n * Project - added, changed, deleted, removed, undeleted\n * Project Membership - added, removed\n * Section - added, changed, deleted, undeleted\n * Story - added, removed, undeleted\n * Tag - added, changed, deleted, undeleted\n * Task - added, changed, deleted, removed, undeleted\n * Team - added, changed, deleted\n * Team Membership - added, removed\n * Workspace - added, removed, changed\n * Workspace Memberships - added, removed"
    },
    {
      "name": "Workspaces",
      "description": "A *workspace* is the highest-level organizational unit in Asana. All projects and tasks have an associated workspace.\n\nAn *organization* is a special kind of workspace that represents a company. In an organization, you can group your projects into teams. You can read more about how organizations work on the Asana Guide. To tell if your workspace is an organization or not, check its `is_organization` property.\n\nOver time, we intend to migrate most workspaces into organizations and to release more organization-specific functionality. We may eventually deprecate using workspace-based APIs for organizations. Currently, and until after some reasonable grace period following any further announcements, you can still reference organizations in any `workspace` parameter."
    },
    {
      "name": "Workspace Memberships",
      "description": "This object determines if a user is a member of a workspace."
    },
    {
      "name": "Typeahead",
      "description": "The typeahead search API provides search for objects from a single workspace."
    },
    {
      "name": "Users",
      "description": "A user object represents an account in Asana that can be given access to various workspaces, projects, and tasks.\n\nLike other objects in the system, users are referred to by numerical IDs. However, the special string identifier `me` can be used anywhere a user ID is accepted, to refer to the current authenticated user."
    },
    {
      "name": "User Task Lists",
      "description": "A user task list represents the tasks assigned to a particular user."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks allow you to subscribe to notifications about events that occur on Asana resources (e.g., tasks, projects, stories, etc.)\n\nFor a more detailed explanation of webhooks see [Overview of Webhooks](/docs/overview-of-webhooks)"
    },
    {
      "name": "Workspaces",
      "description": "A *workspace* is the highest-level organizational unit in Asana. All projects and tasks have an associated workspace.\n\nAn *organization* is a special kind of workspace that represents a company. In an organization, you can group your projects into teams. You can read more about how organizations work on the Asana Guide. To tell if your workspace is an organization or not, check its `is_organization` property.\n\nOver time, we intend to migrate most workspaces into organizations and to release more organization-specific functionality. We may eventually deprecate using workspace-based APIs for organizations. Currently, and until after some reasonable grace period following any further announcements, you can still reference organizations in any `workspace` parameter."
    },
    {
      "name": "Workspace Memberships",
      "description": "This object determines if a user is a member of a workspace."
    }
  ],
  "components": {
    "parameters": {
      "fields": {
        "name": "opt_fields",
        "in": "query",
        "description": "Defines fields to return.\nSome requests return *compact* representations of objects in order to conserve resources and complete the request more efficiently. Other times requests return more information than you may need. This option allows you to list the exact set of fields that the API should be sure to return for the objects. The field names should be provided as paths, described below.\nThe id of included objects will always be returned, regardless of the field options.",
        "example": [
          "followers",
          "assignee"
        ],
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": false
      },
      "pretty": {
        "name": "opt_pretty",
        "in": "query",
        "description": "Provides “pretty” output.\nProvides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.",
        "required": false,
        "allowEmptyValue": true,
        "schema": {
          "type": "boolean"
        },
        "style": "form",
        "example": true
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Results per page.\nThe number of objects to return per page. The value must be between 1 and 100.",
        "example": 50,
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "Offset token.\nAn offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.\n'Note: You can only pass in an offset that was returned to you via a previously paginated request.'",
        "example": "eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9",
        "schema": {
          "type": "string"
        }
      },
      "archived_query_param": {
        "name": "archived",
        "in": "query",
        "description": "Only return projects whose `archived` field takes on the value of this parameter.",
        "schema": {
          "type": "boolean"
        },
        "example": false
      },
      "attachment_path_gid": {
        "name": "attachment_gid",
        "in": "path",
        "description": "Globally unique identifier for the attachment.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "custom_field_path_gid": {
        "name": "custom_field_gid",
        "in": "path",
        "description": "Globally unique identifier for the custom field.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "job_path_gid": {
        "name": "job_gid",
        "in": "path",
        "description": "Globally unique identifier for the job.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "organization_export_path_gid": {
        "name": "organization_export_gid",
        "in": "path",
        "description": "Globally unique identifier for the organization export.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "project_path_gid": {
        "name": "project_gid",
        "in": "path",
        "description": "Globally unique identifier for the project.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331"
      },
      "project_membership_path_gid": {
        "name": "project_membership_gid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331"
      },
      "project_status_path_gid": {
        "name": "project_status_gid",
        "in": "path",
        "required": true,
        "description": "The project status update to get.",
        "schema": {
          "type": "string"
        },
        "example": "321654"
      },
      "portfolio_path_gid": {
        "name": "portfolio_gid",
        "in": "path",
        "description": "Globally unique identifier for the portfolio.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "portfolio_membership_path_gid": {
        "name": "portfolio_membership_gid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331"
      },
      "portfolio_query_param": {
        "name": "portfolio",
        "in": "query",
        "description": "The portfolio to filter results on.",
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "section_path_gid": {
        "name": "section_gid",
        "in": "path",
        "required": true,
        "description": "The globally unique identifier for the section.",
        "schema": {
          "type": "string"
        },
        "example": "321654"
      },
      "story_path_gid": {
        "name": "story_gid",
        "in": "path",
        "description": "Globally unique identifier for the story.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "35678"
      },
      "tag_path_gid": {
        "name": "tag_gid",
        "in": "path",
        "description": "Globally unique identifier for the tag.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "11235"
      },
      "task_path_gid": {
        "name": "task_gid",
        "in": "path",
        "required": true,
        "description": "The task to operate on.",
        "schema": {
          "type": "string"
        },
        "example": "321654"
      },
      "team_path_gid": {
        "name": "team_gid",
        "in": "path",
        "description": "Globally unique identifier for the team.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "159874"
      },
      "team_membership_path_gid": {
        "name": "team_membership_gid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "724362"
      },
      "user_query_param": {
        "name": "user",
        "in": "query",
        "description": "A string identifying a user. This can either be the string \"me\", an email, or the gid of a user.",
        "schema": {
          "type": "string"
        },
        "example": "me"
      },
      "user_path_gid": {
        "name": "user_gid",
        "in": "path",
        "description": "A string identifying a user. This can either be the string \"me\", an email, or the gid of a user.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "me"
      },
      "user_task_list_path_gid": {
        "name": "user_task_list_gid",
        "in": "path",
        "description": "Globally unique identifier for the user task list.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "webhook_path_gid": {
        "name": "webhook_gid",
        "in": "path",
        "description": "Globally unique identifier for the webhook.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "workspace_path_gid": {
        "name": "workspace_gid",
        "in": "path",
        "description": "Globally unique identifier for the workspace or organization.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "workspace_query_param": {
        "name": "workspace",
        "in": "query",
        "description": "The workspace to filter results on.",
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "workspace_membership_path_gid": {
        "name": "workspace_membership_gid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "goal_path_gid": {
        "name": "goal_gid",
        "in": "path",
        "description": "Globally unique identifier for the goal.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "project_brief_path_gid": {
        "name": "project_brief_gid",
        "in": "path",
        "description": "Globally unique identifier for the project brief.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "12345"
      },
      "project_template_path_gid": {
        "name": "project_template_gid",
        "in": "path",
        "description": "Globally unique identifier for the project template.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "1331"
      },
      "status_path_gid": {
        "name": "status_gid",
        "in": "path",
        "required": true,
        "description": "The status update to get.",
        "schema": {
          "type": "string"
        },
        "example": "321654"
      },
      "team_query_param": {
        "name": "team",
        "in": "query",
        "description": "The team to filter projects on.",
        "schema": {
          "type": "string"
        },
        "example": "14916"
      },
      "time_period_path_gid": {
        "name": "time_period_gid",
        "in": "path",
        "description": "Globally unique identifier for the time period.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "917392"
      },
      "audit_log_start_at": {
        "name": "start_at",
        "in": "query",
        "description": "Filter to events created after this time (inclusive).",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "audit_log_end_at": {
        "name": "end_at",
        "in": "query",
        "description": "Filter to events created before this time (exclusive).",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "audit_log_event_type": {
        "name": "event_type",
        "in": "query",
        "description": "Filter to events of this type.\nRefer to the [Supported AuditLogEvents](/docs/supported-auditlogevents) for a full list of values.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "audit_log_actor_type": {
        "name": "actor_type",
        "in": "query",
        "description": "Filter to events with an actor of this type.\nThis only needs to be included if querying for actor types without an ID. If `actor_gid` is included, this should be excluded.",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "user",
            "asana",
            "asana_support",
            "anonymous",
            "external_administrator"
          ]
        }
      },
      "audit_log_actor_gid": {
        "name": "actor_gid",
        "in": "query",
        "description": "Filter to events triggered by the actor with this ID.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "audit_log_resource_gid": {
        "name": "resource_gid",
        "in": "query",
        "description": "Filter to events with this resource ID.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "completed_since": {
        "name": "completed_since",
        "in": "query",
        "required": false,
        "description": "Only return tasks that are either incomplete or that have been completed since this time. Accepts a date-time string or the keyword *now*.\n",
        "schema": {
          "type": "string"
        },
        "example": "2012-02-22T02:06:58.158Z"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "A valid authentication token was not provided with the request, so the API could not associate a user with the request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "The request was valid, but the queried object or object mutation specified in the request is above your current premium level.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "You have exceeded one of the enforced rate limits in the API. See the [documentation on rate limiting](https://developers.asana.com/docs/#rate-limits) for more information.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadGateway": {
        "description": "There is an issue between the load balancers and Asana's API.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Either the upstream service is unavailable to the API, or he API has been intentionally shut off.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "This request took too long to complete.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "AsanaResource": {
        "description": "A generic Asana Resource, containing a globally unique identifier.",
        "type": "object",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the resource, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345"
          },
          "resource_type": {
            "description": "The base type of this resource.",
            "type": "string",
            "readOnly": true,
            "example": "task"
          }
        }
      },
      "AsanaNamedResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsanaResource"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "description": "The name of the object.",
                "type": "string",
                "example": "Bug Task"
              }
            }
          }
        ]
      },
      "AttachmentRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Required for `asana` attachments.\n"
          },
          "resource_subtype": {
            "description": "The type of the attachment. Must be one of the [given values](/docs/attachment). If not specified, a file attachment of type `asana` will be assumed. Note that if the value of `resource_subtype` is `external`, a `parent`, `name`, and `url` must also be provided.\n",
            "type": "string",
            "example": "external",
            "enum": [
              "asana_file_attachments",
              "external"
            ]
          },
          "parent": {
            "description": "Required identifier of the parent task or project_brief, as a string.\n",
            "type": "string"
          },
          "url": {
            "description": "The URL of the external resource being attached. Required for attachments of type `external`.\n",
            "type": "string"
          },
          "name": {
            "description": "The name of the external resource being attached. Required for attachments of type `external`.\n",
            "type": "string"
          }
        }
      },
      "AttachmentResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AttachmentBase"
          },
          {
            "type": "object",
            "properties": {
              "created_at": {
                "description": "The time at which this resource was created.",
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "example": "2012-02-22T02:06:58.147Z"
              },
              "download_url": {
                "description": "The URL containing the content of the attachment.\n*Note:* May be null if the attachment is hosted by [Box](https://www.box.com/). If present, this URL may only be valid for two minutes from the time of retrieval. You should avoid persisting this URL somewhere and just refresh it on demand to ensure you do not keep stale URLs.",
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "nullable": true,
                "example": "https://s3.amazonaws.com/assets/123/Screenshot.png"
              },
              "host": {
                "description": "The service hosting the attachment. Valid values are `asana`, `dropbox`, `gdrive` and `box`.",
                "type": "string",
                "readOnly": true,
                "example": "dropbox"
              },
              "parent": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TaskCompact"
                  },
                  {
                    "type": "object",
                    "description": "The task this attachment is attached to.",
                    "readOnly": true,
                    "properties": {
                      "resource_subtype": {
                        "description": "The resource subtype of the parent resource that the filter applies to.",
                        "type": "string",
                        "example": "default_task",
                        "nullable": true
                      }
                    }
                  }
                ]
              },
              "view_url": {
                "description": "The URL where the attachment can be viewed, which may be friendlier to users in a browser than just directing them to a raw file. May be null if no view URL exists for the service.",
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "nullable": true,
                "example": "https://www.dropbox.com/s/123/Screenshot.png"
              },
              "permanent_url": {
                "description": "",
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "nullable": true,
                "example": "https://s3.amazonaws.com/assets/123/Screenshot.png"
              },
              "size": {
                "description": "The size of the attachment in bytes. Only present when the `resource_subtype` is `asana`.",
                "type": "integer",
                "readOnly": true,
                "example": 12345
              }
            }
          }
        ]
      },
      "AttachmentBase": {
        "$ref": "#/components/schemas/AttachmentCompact"
      },
      "AttachmentCompact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsanaResource"
          },
          {
            "type": "object",
            "description": "An *attachment* object represents any file attached to a task in Asana, whether it’s an uploaded file or one associated via a third-party service such as Dropbox or Google Drive.",
            "properties": {
              "name": {
                "description": "The name of the file.",
                "type": "string",
                "readOnly": true,
                "example": "Screenshot.png"
              },
              "resource_subtype": {
                "description": "The service hosting the attachment. Valid values are `asana`, `dropbox`, `gdrive`, `onedrive`, `box`, and `external`.\n`external` attachments are a beta feature currently limited to specific integrations.",
                "type": "string",
                "example": "dropbox"
              }
            }
          }
        ]
      },
      "BatchRequest": {
        "description": "A request object for use in a batch request.",
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchRequestAction"
            }
          }
        }
      },
      "BatchRequestAction": {
        "description": "An action object for use in a batch request.",
        "type": "object",
        "properties": {
          "relative_path": {
            "description": "The path of the desired endpoint relative to the API’s base URL. Query parameters are not accepted here; put them in `data` instead.",
            "type": "string",
            "example": "/tasks/123"
          },
          "method": {
            "description": "The HTTP method you wish to emulate for the action.",
            "type": "string",
            "enum": [
              "get",
              "post",
              "put",
              "delete",
              "patch",
              "head"
            ],
            "example": "get"
          },
          "data": {
            "description": "For `GET` requests, this should be a map of query parameters you would have normally passed in the URL. Options and pagination are not accepted here; put them in `options` instead. For `POST`, `PATCH`, and `PUT` methods, this should be the content you would have normally put in the data field of the body.",
            "type": "object",
            "example": {
              "assignee": "me",
              "workspace": "1337"
            }
          },
          "options": {
            "description": "Pagination (`limit` and `offset`) and output options (`fields` or `expand`) for the action. “Pretty” JSON output is not an available option on individual actions; if you want pretty output, specify that option on the parent request.",
            "type": "object",
            "properties": {
              "limit": {
                "description": "Pagination limit for the request.",
                "type": "integer",
                "example": 50
              },
              "offset": {
                "description": "Pagination offset for the request.",
                "type": "integer",
                "example": "eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9"
              },
              "fields": {
                "description": "The fields to retrieve in the request.",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "name",
                  "gid",
                  "notes",
                  "completed"
                ]
              }
            },
            "example": {
              "limit": 3,
              "fields": [
                "name",
                "notes",
                "completed"
              ]
            }
          }
        },
        "required": [
          "relative_path",
          "method"
        ]
      },
      "BatchResponse": {
        "description": "A response object returned from a batch request.",
        "type": "object",
        "properties": {
          "status_code": {
            "description": "The HTTP status code that the invoked endpoint returned.",
            "type": "integer",
            "example": 200
          },
          "headers": {
            "description": "A map of HTTP headers specific to this result. This is primarily used for returning a `Location` header to accompany a `201 Created` result.  The parent HTTP response will contain all common headers.",
            "type": "object",
            "example": {
              "location": "/tasks/1234"
            }
          },
          "body": {
            "description": "The JSON body that the invoked endpoint returned.",
            "type": "object",
            "example": {
              "data": {
                "gid": "1967",
                "completed": false,
                "name": "Hello, world!",
                "notes": "How are you today?"
              }
            }
          }
        }
      },
      "CustomFieldResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "enum_value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EnumOption"
                  },
                  {
                    "type": "object",
                    "description": "*Conditional*. Only relevant for custom fields of type `enum`. This object is the chosen value of an enum custom field."
                  }
                ]
              },
              "created_by": {
                "$ref": "#/components/schemas/UserCompact",
                "nullable": true
              }
            }
          }
        ]
      },
      "CustomFieldRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "required": [
              "workspace"
            ],
            "properties": {
              "workspace": {
                "type": "string",
                "description": "*Create-Only* The workspace to create a custom field in.",
                "example": "1331"
              }
            }
          }
        ]
      },
      "CustomFieldBase": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldCompact"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "description": "[Opt In](/docs/input-output-options). The description of the custom field.",
                "type": "string",
                "example": "Development team priority"
              },
              "enum_options": {
                "description": "*Conditional*. Only relevant for custom fields of type `enum`. This array specifies the possible values which an `enum` custom field can adopt. To modify the enum options, refer to [working with enum options](/docs/create-an-enum-option).",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EnumOption"
                }
              },
              "precision": {
                "description": "Only relevant for custom fields of type ‘Number’. This field dictates the number of places after the decimal to round to, i.e. 0 is integer values, 1 rounds to the nearest tenth, and so on. Must be between 0 and 6, inclusive.\nFor percentage format, this may be unintuitive, as a value of 0.25 has a precision of 0, while a value of 0.251 has a precision of 1. This is due to 0.25 being displayed as 25%.\nThe identifier format will always have a precision of 0.",
                "type": "integer",
                "example": 2
              },
              "format": {
                "description": "The format of this custom field.",
                "type": "string",
                "enum": [
                  "currency",
                  "identifier",
                  "percentage",
                  "custom",
                  "none"
                ],
                "example": "custom"
              },
              "currency_code": {
                "description": "ISO 4217 currency code to format this custom field. This will be null if the `format` is not `currency`.",
                "type": "string",
                "nullable": true,
                "example": "EUR"
              },
              "custom_label": {
                "description": "This is the string that appears next to the custom field value. This will be null if the `format` is not `custom`.",
                "type": "string",
                "nullable": true,
                "example": "gold pieces"
              },
              "custom_label_position": {
                "description": "Only relevant for custom fields with `custom` format. This depicts where to place the custom label. This will be null if the `format` is not `custom`.",
                "type": "string",
                "enum": [
                  "prefix",
                  "suffix"
                ],
                "example": "suffix"
              },
              "is_global_to_workspace": {
                "description": "This flag describes whether this custom field is available to every container in the workspace. Before project-specific custom fields, this field was always true.",
                "type": "boolean",
                "example": true,
                "readOnly": true
              },
              "has_notifications_enabled": {
                "description": "*Conditional*. This flag describes whether a follower of a task with this field should receive inbox notifications from changes to this field.",
                "type": "boolean",
                "example": true
              }
            }
          }
        ]
      },
      "CustomFieldCompact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsanaResource"
          },
          {
            "type": "object",
            "description": "Custom Fields store the metadata that is used in order to add user-specified information to tasks in Asana. Be sure to reference the [Custom Fields](/docs/asana-custom-fields) developer documentation for more information about how custom fields relate to various resources in Asana.\n\nUsers in Asana can [lock custom fields](https://asana.com/guide/help/premium/custom-fields#gl-lock-fields), which will make them read-only when accessed by other users. Attempting to edit a locked custom field will return HTTP error code `403 Forbidden`.",
            "properties": {
              "name": {
                "description": "The name of the custom field.",
                "type": "string",
                "example": "Status"
              },
              "resource_subtype": {
                "description": "The type of the custom field. Must be one of the given values.\n",
                "type": "string",
                "example": "text",
                "enum": [
                  "text",
                  "enum",
                  "number",
                  "number"
                ]
              },
              "type": {
                "description": "*Deprecated: new integrations should prefer the resource_subtype field.* The type of the custom field. Must be one of the given values.\n",
                "type": "string",
                "readOnly": true,
                "enum": [
                  "text",
                  "enum",
                  "number",
                  "number"
                ]
              },
              "enum_options": {
                "description": "*Conditional*. Only relevant for custom fields of type `enum`. This array specifies the possible values which an `enum` custom field can adopt. To modify the enum options, refer to [working with enum options](/docs/create-an-enum-option).",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EnumOption"
                }
              },
              "enabled": {
                "description": "*Conditional*. Determines if the custom field is enabled or not.",
                "type": "boolean",
                "example": true
              },
              "number_value": {
                "description": "*Conditional*. This number is the value of a number custom field.",
                "type": "number",
                "example": 5.2
              },
              "text_value": {
                "description": "*Conditional*. This string is the value of a text custom field.",
                "type": "string",
                "example": "Some Value"
              },
              "enum_value": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EnumOption"
                  },
                  {
                    "type": "object",
                    "description": "*Conditional*. Only relevant for custom fields of type `enum`. This object is the chosen value of an enum custom field."
                  }
                ]
              },
              "multi_enum_values": {
                "description": "*Conditional*. Only relevant for custom fields of type `multi_enum`. This object is the chosen values of a multi_enum custom field.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EnumOption"
                }
              },
              "display_value": {
                "description": "A string representation for the value of the custom field. Integrations that don't require the underlying type should use this field to read values. Using this field will future-proof an app against new custom field types.",
                "type": "string",
                "readOnly": true,
                "example": "blue"
              }
            }
          }
        ]
      },
      "CustomFieldSettingResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldSettingBase"
          },
          {
            "type": "object",
            "properties": {
              "project": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ProjectCompact"
                  },
                  {
                    "type": "object",
                    "description": "*Deprecated: new integrations should prefer the `parent` field.* The id of the project that this custom field settings refers to.",
                    "readOnly": true
                  }
                ]
              },
              "is_important": {
                "description": "`is_important` is used in the Asana web application to determine if this custom field is displayed in the list/grid view of a project or portfolio.",
                "type": "boolean",
                "readOnly": true,
                "example": false
              },
              "parent": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ProjectCompact"
                  },
                  {
                    "type": "object",
                    "description": "The parent to which the custom field is applied. This can be a project or portfolio and indicates that the tasks or projects that the parent contains may be given custom field values for this custom field.",
                    "readOnly": true
                  }
                ]
              },
              "custom_field": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CustomFieldResponse"
                  },
                  {
                    "type": "object",
                    "description": "The custom field that is applied to the `parent`.",
                    "readOnly": true
                  }
                ]
              }
            }
          }
        ]
      },
      "CustomFieldSettingBase": {
        "$ref": "#/components/schemas/CustomFieldSettingCompact"
      },
      "CustomFieldSettingCompact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsanaResource"
          },
          {
            "type": "object",
            "description": "Custom Fields Settings objects represent the many-to-many join of the Custom Field and Project as well as stores information that is relevant to that particular pairing."
          }
        ]
      },
      "ModifyDependenciesRequest": {
        "type": "object",
        "properties": {
          "dependencies": {
            "description": "An array of task gids that a task depends on.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "example": {
          "dependencies": [
            "133713",
            "184253"
          ]
        }
      },
      "ModifyDependentsRequest": {
        "description": "A set of dependent tasks.",
        "type": "object",
        "properties": {
          "dependents": {
            "description": "An array of task gids that are dependents of the given task.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "example": {
          "dependents": [
            "133713",
            "184253"
          ]
        }
      },
      "EmptyResponse": {
        "type": "object",
        "description": "An empty object. Some endpoints do not return an object on success. The success is conveyed through a 2-- status code and returning an empty object."
      },
      "EnumOptionRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EnumOptionBase"
          },
          {
            "type": "object",
            "properties": {
              "insert_before": {
                "type": "string",
                "description": "An existing enum option within this custom field before which the new enum option should be inserted. Cannot be provided together with after_enum_option.",
                "example": "12345"
              },
              "insert_after": {
                "type": "string",
                "description": "An existing enum option within this custom field after which the new enum option should be inserted. Cannot be provided together with before_enum_option.",
                "example": "12345"
              }
            }
          }
        ]
      },
      "EnumOptionBase": {
        "$ref": "#/components/schemas/EnumOption"
      },
      "EnumOption": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsanaResource"
          },
          {
            "type": "object",
            "description": "Enum options are the possible values which an enum custom field can adopt. An enum custom field must contain at least 1 enum option but no more than 50.\n\nYou can add enum options to a custom field by using the `POST /custom_fields/custom_field_gid/enum_options` endpoint.\n\n**It is not possible to remove or delete an enum option**. Instead, enum options can be disabled by updating the `enabled` field to false with the `PUT /enum_options/enum_option_gid` endpoint. Other attributes can be updated similarly.\n\nOn creation of an enum option, `enabled` is always set to `true`, meaning the enum option is a selectable value for the custom field. Setting `enabled=false` is equivalent to “trashing” the enum option in the Asana web app within the “Edit Fields” dialog. The enum option will no longer be selectable but, if the enum option value was previously set within a task, the task will retain the value.\n\nEnum options are an ordered list and by default new enum options are inserted at the end. Ordering in relation to existing enum options can be specified on creation by using `insert_before` or `insert_after` to reference an existing enum option. Only one of `insert_before` and `insert_after` can be provided when creating a new enum option.\n\nAn enum options list can be reordered with the `POST /custom_fields/custom_field_gid/enum_options/insert` endpoint.",
            "properties": {
              "name": {
                "description": "The name of the enum option.",
                "type": "string",
                "example": "Low"
              },
              "enabled": {
                "description": "The color of the enum option. Defaults to ‘none’.",
                "type": "boolean",
                "example": true
              },
              "color": {
                "description": "Whether or not the enum option is a selectable value for the custom field.",
                "type": "string",
                "example": "blue"
              }
            }
          }
        ]
      },
      "EnumOptionInsertRequest": {
        "type": "object",
        "required": [
          "enum_option"
        ],
        "properties": {
          "enum_option": {
            "type": "string",
            "description": "The gid of the enum option to relocate.",
            "example": "97285"
          },
          "before_enum_option": {
            "type": "string",
            "description": "An existing enum option within this custom field before which the new enum option should be inserted. Cannot be provided together with after_enum_option.",
            "example": "12345"
          },
          "after_enum_option": {
            "type": "string",
            "description": "An existing enum option within this custom field after which the new enum option should be inserted. Cannot be provided together with before_enum_option.",
            "example": "12345"
          }
        }
      },
      "ErrorResponse": {
        "description": "Sadly, sometimes requests to the API are not successful. Failures can\noccur for a wide range of reasons. In all cases, the API should return\nan HTTP Status Code that indicates the nature of the failure,\nwith a response body in JSON format containing additional information.\n\n\nIn the event of a server error the response body will contain an error\nphrase. These phrases are automatically generated using the\n[node-asana-phrase\nlibrary](https://github.com/Asana/node-asana-phrase) and can be used by\nAsana support to quickly look up the incident that caused the server\nerror.",
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "readOnly": true,
            "description": "Message providing more detail about the error that occurred, if available.",
            "example": "project: Missing input"
          },
          "help": {
            "type": "string",
            "readOnly": true,
            "description": "Additional information directing developers to resources on how to address and fix the problem, if available.",
            "example": "For more information on API status codes and how to handle them, read the docs on errors: https://asana.github.io/developer-docs/#errors'"
          },
          "phrase": {
            "type": "string",
            "readOnly": true,
            "description": "*500 errors only*. A unique error phrase which can be used when contacting developer support to help identify the exact occurrence of the problem in Asana’s logs.",
            "example": "6 sad squid snuggle softly"
          }
        }
      },
      "EventResponse": {
        "description": "An *event* is an object representing a change to a resource that was\nobserved by an event subscription or delivered asynchronously to\nthe target location of an active webhook.\n\nThe event may be triggered by a different `user` than the\nsubscriber. For example, if user A subscribes to a task and user B\nmodified it, the event’s user will be user B. Note: Some events\nare generated by the system, and will have `null` as the user. API\nconsumers should make sure to handle this case.\n\nThe `resource` that triggered the event may be different from the one\nthat the events were requested for or the webhook is subscribed to. For\nexample, a subscription to a project will contain events for tasks\ncontained within the project.\n\n**Note:** pay close attention to the relationship between the fields\n`Event.action` and `Event.change.action`.\n`Event.action` represents the action taken on the resource\nitself, and `Event.change.action` represents how the information\nwithin the resource's fields have been modified.\n\nFor instance, consider these scenarios:\n\n\n* When at task is added to a project, `Event.action` will be\n`added`, `Event.parent` will be on object with the `id` and\n`type` of the project, and there will be no `change` field.\n\n\n* When an assignee is set on the task, `Event.parent` will be\n`null`, `Event.action` will be `changed`,\n`Event.change.action` will be `changed`, and `changed_value` will\nbe an object with the user's `id` and `type`.\n\n\n* When a collaborator is added to the task, `Event.parent` will\nbe `null`, `Event.action` will be `changed`,\n`Event.change.action` will be `added`, and `added_value` will be\nan object with the user's `id` and `type`.",
        "type": "object",
        "properties": {
          "user": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UserCompact"
              },
              {
                "description": "The user who triggered the event."
              }
            ]
          },
          "resource": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AsanaNamedResource"
              },
              {
                "description": "The resource which has triggered the event by being modified in some way."
              }
            ]
          },
          "type": {
            "description": "*Deprecated: Refer to the resource_type of the resource.* The type of the resource that generated the event.",
            "type": "string",
            "readOnly": true,
            "example": "task"
          },
          "action": {
            "description": "The type of action taken on the **resource** that triggered the event.  This can be one of `changed`, `added`, `removed`, `deleted`, or `undeleted` depending on the nature of the event.",
            "type": "string",
            "readOnly": true,
            "example": "changed"
          },
          "parent": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AsanaNamedResource"
              },
              {
                "description": "For added/removed events, the parent object that resource was added to or removed from. The parent will be `null` for other event types."
              }
            ]
          },
          "created_at": {
            "description": "The timestamp when the event occurred.",
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2012-02-22T02:06:58.147Z"
          },
          "change": {
            "type": "object",
            "description": "Information about the type of change that has occurred. This field is only present when the value of the property `action`, describing the action taken on the **resource**, is `changed`.",
            "readOnly": true,
            "properties": {
              "field": {
                "description": "The name of the field that has changed in the resource.",
                "type": "string",
                "readOnly": true,
                "example": "assignee"
              },
              "action": {
                "description": "The type of action taken on the **field** which has been changed.  This can be one of `changed`, `added`, or `removed` depending on the nature of the change.",
                "type": "string",
                "readOnly": true,
                "example": "changed"
              },
              "new_value": {
                "description": "*Conditional.* This property is only present when the **field's** `action` is `changed` and the `new_value` is an Asana resource. This will be only the `gid` and `resource_type` of the resource when the events come from webhooks; this will be the compact representation (and can have fields expanded with [opt_fields](/docs/input-output-options)) when using the [Events](/docs/asana-events) resource.",
                "example": {
                  "gid": "12345",
                  "resource_type": "user"
                }
              },
              "added_value": {
                "description": "*Conditional.* This property is only present when the **field's** `action` is `added` and the `added_value` is an Asana resource. This will be only the `gid` and `resource_type` of the resource when the events come from webhooks; this will be the compact representation (and can have fields expanded with [opt_fields](/docs/input-output-options)) when using the [Events](/docs/asana-events) resource.",
                "example": {
                  "gid": "12345",
                  "resource_type": "user"
                }
              },
              "removed_value": {
                "description": "*Conditional.* This property is only present when the **field's** `action` is `removed` and the `removed_value` is an Asana resource. This will be only the `gid` and `resource_type` of the resource when the events come from webhooks; this will be the compact representation (and can have fields expanded with [opt_fields](/docs/input-output-options)) when using the [Events](/docs/asana-events) resource.",
                "example": {
                  "gid": "12345",
                  "resource_type": "user"
                }
              }
            }
          }
        }
      },
      "JobResponse": {
        "$ref": "#/components/schemas/JobBase"
      },
      "JobBase": {
        "$ref": "#/components/schemas/JobCompact"
      },
      "JobCompact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsanaResource"
          },
          {
            "type": "object",
            "description": "A *job* is an object representing a process that handles asynchronous work.",
            "properties": {
              "resource_subtype": {
                "description": "The subtype of this resource. Different subtypes retain many of the same fields and behavior, but may render differently in Asana or represent resources with different semantic meaning.",
                "type": "string",
                "readOnly": true,
                "example": "duplicate_task"
              },
              "status": {
                "type": "string",
                "enum": [
                  "not_started",
                  "in_progress",
                  "completed",
                  "failed"
                ],
                "readOnly": true,
                "example": "in_progress",
                "description": "The current status of this job. The value is one of: `not_started`, `in_progress`, `succeeded`, or `failed`."
              },
              "new_project": {
                "$ref": "#/components/schemas/ProjectCompact"
              },
              "new_task": {
                "$ref": "#/components/schemas/TaskCompact"
              },
              "new_project_template": {
                "$ref": "#/components/schemas/ProjectTemplateCompact"
              }
            }
          }
        ]
      },
      "Like": {
        "type": "object",
        "description": "An object to represent a user's like.",
        "properties": {
          "gid": {
            "description": "Globally unique identifier of the object, as a string.",
            "type": "string",
            "readOnly": true,
            "example": "12345"
          },
          "user": {
            "$ref": "#/components/schemas/UserCompact"
          }
        }
      },
      "OrganizationExportRequest": {
        "type": "object",
        "description": "An *organization_export* request starts a job to export the complete data of the given Organization.",
        "properties": {
          "organization": {
            "description": "Globally unique identifier for the workspace or organization.",
            "type": "string",
            "example": "1331"
          }
        }
      },
      "OrganizationExportResponse": {
        "$ref": "#/components/schemas/OrganizationExportBase"
      },
      "OrganizationExportBase": {
        "$ref": "#/components/schemas/OrganizationExportCompact"
      },
      "OrganizationExportCompact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsanaResource"
          },
          {
            "type": "object",
            "description": "An *organization_export* object represents a request to export the complete data of an Organization in JSON format.",
            "properties": {
              "created_at": {
                "description": "The time at which this resource was created.",
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "example": "2012-02-22T02:06:58.147Z"
              },
              "download_url": {
                "description": "Download this URL to retreive the full export of the organization\nin JSON format. It will be compressed in a gzip (.gz) container.\n\n*Note: May be null if the export is still in progress or\nfailed.  If present, this URL may only be valid for 1 hour from\nthe time of retrieval. You should avoid persisting this URL\nsomewhere and rather refresh on demand to ensure you do not keep\nstale URLs.*",
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "nullable": true,
                "example": "https://asana-export.s3.amazonaws.com/export-4632784536274-20170127-43246.json.gz?AWSAccessKeyId=xxxxxxxx"
              },
              "state": {
                "description": "The current state of the export.",
                "type": "string",
                "enum": [
                  "pending",
                  "started",
                  "finished",
                  "error"
                ],
                "readOnly": true,
                "example": "started"
              },
              "organization": {
                "$ref": "#/components/schemas/WorkspaceCompact"
              }
            }
          }
        ]
      },
      "PortfolioResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PortfolioBase"
          },
          {
            "type": "object",
            "properties": {
              "created_at": {
                "description": "The time at which this resource was created.",
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "example": "2012-02-22T02:06:58.147Z"
              },
              "created_by": {
                "$ref": "#/components/schemas/UserCompact"
              },
              "custom_field_settings": {
                "description": "Array of custom field settings applied to the portfolio.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldSettingResponse"
                }
              },
              "due_on": {
                "description": "The localized day on which this portfolio is due. This takes a date with format YYYY-MM-DD.",
                "type": "string",
                "nullable": true,
                "format": "date-time",
                "example": "2019-09-15"
              },
              "members": {
                "type": "array",
                "readOnly": true,
                "items": {
                  "$ref": "#/components/schemas/UserCompact"
                }
              },
              "owner": {
                "$ref": "#/components/schemas/UserCompact"
              },
              "start_on": {
                "description": "The day on which work for this portfolio begins, or null if the portfolio has no start date. This takes a date with `YYYY-MM-DD` format. *Note: `due_on` must be present in the request when setting or unsetting the `start_on` parameter. Additionally, start_on and due_on cannot be the same date.*",
                "type": "string",
                "nullable": true,
                "format": "date",
                "example": "2019-09-14"
              },
              "workspace": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkspaceCompact"
                  },
                  {
                    "type": "object",
                    "description": "*Create-only*. The workspace or organization that the portfolio belongs to."
                  }
                ]
              },
              "permalink_url": {
                "type": "string",
                "readOnly": true,
                "description": "A url that points directly to the object within Asana.",
                "example": "https://app.asana.com/0/resource/123456789/list"
              },
              "current_status_update": {
                "description": "The latest `status_update` posted to this portfolio.",
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/StatusUpdateCompact"
                  }
                ]
              },
              "public": {
                "description": "True if the portfolio is public to its workspace members.",
                "type": "boolean",
                "example": false
              }
            }
          }
        ]
      },
      "PortfolioRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PortfolioBase"
          },
          {
            "type": "object",
            "properties": {
              "members": {
                "type": "array",
                "description": "An array of strings identifying users. These can either be the string \"me\", an email, or the gid of a user.",
                "items": {
                  "type": "string",
                  "description": "Gid of an object."
                },
                "example": [
                  "52164",
                  "15363"
                ]
              },
              "workspace": {
                "type": "string",
                "description": "Gid of an object.",
                "example": "167589"
              },
              "public": {
                "type": "boolean",
                "description": "True if the portfolio is public to its workspace members.",
                "example": false
              }
            }
          }
        ]
      },
      "PortfolioBase": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PortfolioCompact"
          },
          {
            "type": "object",
            "properties": {
              "color": {
                "description": "Color of the portfolio.",
                "type": "string",
                "enum": [
                  "dark-pink",
                  "dark-green",
                  "dark-blue",
                  "dark-red",
                  "dark-teal",
                  "dark-brown",
                  "dark-orange",
                  "dark-purple",
                  "dark-warm-gray",
                  "light-pink",
                  "light-green",
                  "light-blue",
                  "light-red",
                  "light-teal",
                  "light-brown",
                  "light-orange",
                  "light-purple",
                  "light-warm-gray"
                ],
                "example": "light-green"
              }
            }
          }
        ]
      },
      "PortfolioCompact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsanaResource"
          },
          {
            "type": "object",
            "description": "A *portfolio* gives a high-level overview of the status of multiple initiatives in Asana. Portfolios provide a dashboard overview of the state of multiple projects, including a progress report and the most recent [project status](/docs/asana-project-statuses) update.\nPortfolios have some restrictions on size. Each portfolio has a max of 250 items and, like projects, a max of 20 custom fields.",
            "properties": {
              "name": {
                "description": "The name of the portfolio.",
                "type": "string",
                "example": "Bug Portfolio"
              }
            }
          }
        ]
      },
      "PortfolioAddItemRequest": {
        "type": "object",
        "required": [
          "item"
        ],
        "properties": {
          "item": {
            "description": "The item to add to the portfolio.",
            "type": "string",
            "example": "1331"
          },
          "insert_before": {
            "description": "An id of an item in this portfolio. The new item will be added before the one specified here. `insert_before` and `insert_after` parameters cannot both be specified.",
            "type": "string",
            "example": "1331"
          },
          "insert_after": {
            "description": "An id of an item in this portfolio. The new item will be added after the one specified here. `insert_before` and `insert_after` parameters cannot both be specified.",
            "type": "string",
            "example": "1331"
          }
        }
      },
      "PortfolioRemoveItemRequest": {
        "type": "object",
        "required": [
          "item"
        ],
        "properties": {
          "item": {
            "description": "The item to remove from the portfolio.",
            "type": "string",
            "example": "1331"
          }
        }
      },
      "AddMembersRequest": {
        "type": "object",
        "required": [
          "members"
        ],
        "properties": {
          "members": {
            "description": "An array of strings identifying users. These can either be the string \"me\", an email, or the gid of a user.",
            "type": "string",
            "example": "521621,621373"
          }
        }
      },
      "RemoveMembersRequest": {
        "type": "object",
        "required": [
          "members"
        ],
        "properties": {
          "members": {
            "description": "An array of strings identifying users. These can either be the string \"me\", an email, or the gid of a user.",
            "type": "string",
            "example": "521621,621373"
          }
        }
      },
      "AddFollowersRequest": {
        "type": "object",
        "required": [
          "followers"
        ],
        "properties": {
          "followers": {
            "description": "An array of strings identifying users. These can either be the string \"me\", an email, or the gid of a user.",
            "type": "string",
            "example": "521621,621373"
          }
        }
      },
      "RemoveFollowersRequest": {
        "type": "object",
        "required": [
          "followers"
        ],
        "properties": {
          "followers": {
            "description": "An array of strings identifying users. These can either be the string \"me\", an email, or the gid of a user.",
            "type": "string",
            "example": "521621,621373"
          }
        }
      },
      "PortfolioMembershipResponse": {
        "$ref": "#/components/schemas/PortfolioMembershipBase"
      },
      "PortfolioMembershipBase": {
        "$ref": "#/components/schemas/PortfolioMembershipCompact"
      },
      "PortfolioMembershipCompact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsanaResource"
          },
          {
            "type": "object",
            "description": "This object determines if a user is a member of a portfolio.",
            "properties": {
              "portfolio": {
[...]
