{
  "openapi": "3.0.0",
  "info": {
    "version": "2018-05-01",
    "x-release": "v4",
    "title": "Amazon Chime",
    "description": "The Amazon Chime API (application programming interface) is designed for developers to perform key tasks, such as creating and managing Amazon Chime accounts, users, and Voice Connectors. This guide provides detailed information about the Amazon Chime API, including operations, types, inputs and outputs, and error codes. It also includes some server-side API actions to use with the Amazon Chime SDK. For more information about the Amazon Chime SDK, see Using the Amazon Chime SDK in the Amazon Chime Developer Guide. You can use an AWS SDK, the AWS Command Line Interface (AWS CLI), or the REST API to make API calls. We recommend using an AWS SDK or the AWS CLI. Each API operation includes links to information about using it with a language-specific AWS SDK or the AWS CLI.  Using an AWS SDK  You don't need to write code to calculate a signature for request authentication. The SDK clients authenticate your requests by using access keys that you provide. For more information about AWS SDKs, see the AWS Developer Center.  Using the AWS CLI  Use your access keys with the AWS CLI to make API calls. For information about setting up the AWS CLI, see Installing the AWS Command Line Interface in the AWS Command Line Interface User Guide. For a list of available Amazon Chime commands, see the Amazon Chime commands in the AWS CLI Command Reference.  Using REST API  If you use REST to make API calls, you must authenticate your request by providing a signature. Amazon Chime supports signature version 4. For more information, see Signature Version 4 Signing Process in the Amazon Web Services General Reference. When making REST API calls, use the service name chime and REST endpoint https&#x3A;//service.chime.aws.amazon.com.   Administrative permissions are controlled using AWS Identity and Access Management (IAM). For more information, see Identity and Access Management for Amazon Chime in the Amazon Chime Administration Guide.",
    "x-categories": ["chat"],
    "x-logo": {
      "url": "/logos/aws/Arch_Amazon-Chime_64.svg"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "x-providerName": "amazonaws.com",
    "x-serviceName": "chime",
    "x-origin": [
      {
        "contentType": "application/json",
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/chime-2018-05-01.normal.json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "x-apisguru-driver": "external"
      }
    ],
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": ["cloud"],
    "x-preferred": true
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/chime/"
  },
  "servers": [
    {
      "url": "http://service.chime.aws.amazon.com",
      "variables": {},
      "description": "The general Amazon Chime multi-region endpoint"
    },
    {
      "url": "https://service.chime.aws.amazon.com",
      "variables": {},
      "description": "The general Amazon Chime multi-region endpoint"
    },
    {
      "url": "http://chime.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": ["cn-north-1", "cn-northwest-1"],
          "default": "cn-north-1"
        }
      },
      "description": "The Amazon Chime endpoint for China (Beijing) and China (Ningxia)"
    },
    {
      "url": "https://chime.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": ["cn-north-1", "cn-northwest-1"],
          "default": "cn-north-1"
        }
      },
      "description": "The Amazon Chime endpoint for China (Beijing) and China (Ningxia)"
    }
  ],
  "x-hasEquivalentPaths": true,
  "paths": {
    "/accounts/{accountId}/users/{userId}#operation=associate-phone-number": {
      "post": {
        "operationId": "AssociatePhoneNumberWithUser",
        "description": "Associates a phone number with the specified Amazon Chime user.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatePhoneNumberWithUserResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessDeniedException"
                }
              }
            }
          },
          "485": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The user ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["associate-phone-number"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["E164PhoneNumber"],
                "properties": {
                  "E164PhoneNumber": {
                    "description": "The phone number, in E.164 format.",
                    "type": "string",
                    "pattern": "^\\+?[1-9]\\d{1,14}$",
                    "format": "password"
                  }
                }
              }
            }
          }
        },
        "summary": "Associate Phone Number With User"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/voice-connectors/{voiceConnectorId}#operation=associate-phone-numbers": {
      "post": {
        "operationId": "AssociatePhoneNumbersWithVoiceConnector",
        "description": "Associates phone numbers with the specified Amazon Chime Voice Connector.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatePhoneNumbersWithVoiceConnectorResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessDeniedException"
                }
              }
            }
          },
          "485": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "voiceConnectorId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime Voice Connector ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["associate-phone-numbers"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["E164PhoneNumbers"],
                "properties": {
                  "E164PhoneNumbers": {
                    "description": "List of phone numbers, in E.164 format.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/E164PhoneNumber"
                    }
                  },
                  "ForceAssociate": {
                    "description": "If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "summary": "Associate Phone Numbers With Voice Connector"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/voice-connector-groups/{voiceConnectorGroupId}#operation=associate-phone-numbers": {
      "post": {
        "operationId": "AssociatePhoneNumbersWithVoiceConnectorGroup",
        "description": "Associates phone numbers with the specified Amazon Chime Voice Connector group.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatePhoneNumbersWithVoiceConnectorGroupResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessDeniedException"
                }
              }
            }
          },
          "485": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "voiceConnectorGroupId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime Voice Connector group ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["associate-phone-numbers"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["E164PhoneNumbers"],
                "properties": {
                  "E164PhoneNumbers": {
                    "description": "List of phone numbers, in E.164 format.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/E164PhoneNumber"
                    }
                  },
                  "ForceAssociate": {
                    "description": "If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector Group and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "summary": "Associate Phone Numbers With Voice Connector Group"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/accounts/{accountId}#operation=associate-signin-delegate-groups": {
      "post": {
        "operationId": "AssociateSigninDelegateGroupsWithAccount",
        "description": "Associates the specified sign-in delegate groups with the specified Amazon Chime account.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociateSigninDelegateGroupsWithAccountResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["associate-signin-delegate-groups"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["SigninDelegateGroups"],
                "properties": {
                  "SigninDelegateGroups": {
                    "description": "The sign-in delegate groups.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SigninDelegateGroup"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Associate Signin Delegate Groups With Account"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/meetings/{meetingId}/attendees#operation=batch-create": {
      "post": {
        "operationId": "BatchCreateAttendee",
        "description": "Creates up to 100 new attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. ",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCreateAttendeeResponse"
                }
              }
            }
          },
          "480": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "481": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "482": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "483": {
            "description": "ResourceLimitExceededException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceLimitExceededException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime SDK meeting ID.",
            "schema": {
              "type": "string",
              "pattern": "[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["batch-create"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["Attendees"],
                "properties": {
                  "Attendees": {
                    "description": "The request containing the attendees to create.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateAttendeeRequestItem"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Batch Create Attendee"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/accounts/{accountId}/rooms/{roomId}/memberships#operation=batch-create": {
      "post": {
        "operationId": "BatchCreateRoomMembership",
        "description": "Adds up to 50 members to a chat room in an Amazon Chime Enterprise account. Members can be either users or bots. The member role designates whether the member is a chat room administrator or a general chat room member.",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCreateRoomMembershipResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "483": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "The room ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["batch-create"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["MembershipItemList"],
                "properties": {
                  "MembershipItemList": {
                    "description": "The list of membership items.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MembershipItem"
                    },
                    "maxItems": 50
                  }
                }
              }
            }
          }
        },
        "summary": "Batch Create Room Membership"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/phone-numbers#operation=batch-delete": {
      "post": {
        "operationId": "BatchDeletePhoneNumber",
        "description": "<p>Moves phone numbers into the <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted.</p> <p>Phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDeletePhoneNumberResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["batch-delete"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["PhoneNumberIds"],
                "properties": {
                  "PhoneNumberIds": {
                    "description": "List of phone number IDs.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/String"
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "summary": "Batch Delete Phone Number"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/accounts/{accountId}/users#operation=suspend": {
      "post": {
        "operationId": "BatchSuspendUser",
        "description": "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime account. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Users suspended from a <code>Team</code> account are disassociated from the account, but they can continue to use Amazon Chime as free users. To remove the suspension from suspended <code>Team</code> account users, invite them to the <code>Team</code> account again. You can use the <a>InviteUsers</a> action to do so.</p> <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action. </p> <p>To sign out users without suspending them, use the <a>LogoutUser</a> action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchSuspendUserResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["suspend"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["UserIdList"],
                "properties": {
                  "UserIdList": {
                    "description": "The request containing the user IDs to suspend.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/NonEmptyString"
                    },
                    "maxItems": 50
                  }
                }
              }
            }
          }
        },
        "summary": "Batch Suspend User"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/accounts/{accountId}/users#operation=unsuspend": {
      "post": {
        "operationId": "BatchUnsuspendUser",
        "description": "<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code> accounts can be unsuspended using this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Previously suspended users who are unsuspended using this action are returned to <code>Registered</code> status. Users who are not previously suspended are ignored.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUnsuspendUserResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["unsuspend"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["UserIdList"],
                "properties": {
                  "UserIdList": {
                    "description": "The request containing the user IDs to unsuspend.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/NonEmptyString"
                    },
                    "maxItems": 50
                  }
                }
              }
            }
          }
        },
        "summary": "Batch Unsuspend User"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/phone-numbers#operation=batch-update": {
      "post": {
        "operationId": "BatchUpdatePhoneNumber",
        "description": "<p>Updates phone number product types or calling names. You can update one attribute at a time for each <code>UpdatePhoneNumberRequestItem</code>. For example, you can update either the product type or the calling name.</p> <p>For product types, choose from Amazon Chime Business Calling and Amazon Chime Voice Connector. For toll-free numbers, you must use the Amazon Chime Voice Connector product type.</p> <p>Updates to outbound calling names can take up to 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdatePhoneNumberResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["batch-update"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["UpdatePhoneNumberRequestItems"],
                "properties": {
                  "UpdatePhoneNumberRequestItems": {
                    "description": "The request containing the phone number IDs and product types or calling names to update.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UpdatePhoneNumberRequestItem"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Batch Update Phone Number"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/accounts/{accountId}/users": {
      "post": {
        "operationId": "BatchUpdateUser",
        "description": "Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateUserResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["UpdateUserRequestItems"],
                "properties": {
                  "UpdateUserRequestItems": {
                    "description": "The request containing the user IDs and details to update.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UpdateUserRequestItem"
                    },
                    "maxItems": 20
                  }
                }
              }
            }
          }
        },
        "summary": "Batch Update User"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ],
      "get": {
        "operationId": "ListUsers",
        "description": "Lists the users that belong to the specified Amazon Chime account. You can specify an email address to list only the user that the email address belongs to.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUsersResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "user-email",
            "in": "query",
            "required": false,
            "description": "Optional. The user email address used to filter results. Maximum 1.",
            "schema": {
              "type": "string",
              "pattern": ".+@.+\\..+",
              "format": "password"
            }
          },
          {
            "name": "user-type",
            "in": "query",
            "required": false,
            "description": "The user type.",
            "schema": {
              "type": "string",
              "enum": ["PrivateUser", "SharedDevice"]
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return in a single call. Defaults to 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "next-token",
            "in": "query",
            "required": false,
            "description": "The token to use to retrieve the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MaxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          }
        ],
        "summary": "List Users"
      }
    },
    "/accounts": {
      "post": {
        "operationId": "CreateAccount",
        "description": "Creates an Amazon Chime account under the administrator's AWS account. Only <code>Team</code> account types are currently supported for this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["Name"],
                "properties": {
                  "Name": {
                    "description": "The name of the Amazon Chime account.",
                    "type": "string",
                    "pattern": ".*\\S.*",
                    "minLength": 1,
                    "maxLength": 100
                  }
                }
              }
            }
          }
        },
        "summary": "Create Account"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ],
      "get": {
        "operationId": "ListAccounts",
        "description": "Lists the Amazon Chime accounts under the administrator's AWS account. You can filter accounts by account name prefix. To find out which Amazon Chime account a user belongs to, you can filter by the user's email address, which returns one account result.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountsResponse"
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Amazon Chime account name prefix with which to filter results.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*",
              "minLength": 1,
              "maxLength": 100
            }
          },
          {
            "name": "user-email",
            "in": "query",
            "required": false,
            "description": "User email address with which to filter results.",
            "schema": {
              "type": "string",
              "pattern": ".+@.+\\..+",
              "format": "password"
            }
          },
          {
            "name": "next-token",
            "in": "query",
            "required": false,
            "description": "The token to use to retrieve the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return in a single call. Defaults to 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "MaxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          }
        ],
        "summary": "List Accounts"
      }
    },
    "/meetings/{meetingId}/attendees": {
      "post": {
        "operationId": "CreateAttendee",
        "description": "Creates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAttendeeResponse"
                }
              }
            }
          },
          "480": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "481": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "482": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "483": {
            "description": "ResourceLimitExceededException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceLimitExceededException"
                }
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "485": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime SDK meeting ID.",
            "schema": {
              "type": "string",
              "pattern": "[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ExternalUserId"],
                "properties": {
                  "ExternalUserId": {
                    "description": "The Amazon Chime SDK external user ID. Links the attendee to an identity managed by a builder application.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64,
                    "format": "password"
                  },
                  "Tags": {
                    "description": "The tag key-value pairs.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Tag"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  }
                }
              }
            }
          }
        },
        "summary": "Create Attendee"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ],
      "get": {
        "operationId": "ListAttendees",
        "description": "Lists the attendees for the specified Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAttendeesResponse"
                }
              }
            }
          },
          "480": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "481": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "482": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "483": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "484": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime SDK meeting ID.",
            "schema": {
              "type": "string",
              "pattern": "[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}"
            }
          },
          {
            "name": "next-token",
            "in": "query",
            "required": false,
            "description": "The token to use to retrieve the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return in a single call.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 99
            }
          },
          {
            "name": "MaxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          }
        ],
        "summary": "List Attendees"
      }
    },
    "/accounts/{accountId}/bots": {
      "post": {
        "operationId": "CreateBot",
        "description": "Creates a bot for an Amazon Chime Enterprise account.",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBotResponse"
                }
              }
            }
          },
          "480": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "481": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "484": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "485": {
            "description": "ResourceLimitExceededException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceLimitExceededException"
                }
              }
            }
          },
          "486": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "487": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["DisplayName"],
                "properties": {
                  "DisplayName": {
                    "description": "The bot display name.",
                    "type": "string",
                    "format": "password"
                  },
                  "Domain": {
                    "description": "The domain of the Amazon Chime Enterprise account.",
                    "type": "string",
                    "pattern": ".*\\S.*"
                  }
                }
              }
            }
          }
        },
        "summary": "Create Bot"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ],
      "get": {
        "operationId": "ListBots",
        "description": "Lists the bots associated with the administrator's Amazon Chime Enterprise account ID.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBotsResponse"
                }
              }
            }
          },
          "480": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "481": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "483": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "484": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "485": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundException"
                }
              }
            }
          },
          "486": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return in a single call. The default is 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 99
            }
          },
          {
            "name": "next-token",
            "in": "query",
            "required": false,
            "description": "The token to use to retrieve the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MaxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          }
        ],
        "summary": "List Bots"
      }
    },
    "/meetings": {
      "post": {
        "operationId": "CreateMeeting",
        "description": "Creates a new Amazon Chime SDK meeting in the specified media Region with no initial attendees. For more information about specifying media Regions, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a> in the <i>Amazon Chime Developer Guide</i>. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMeetingResponse"
                }
              }
            }
          },
          "480": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "481": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "482": {
            "description": "ResourceLimitExceededException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceLimitExceededException"
                }
              }
            }
          },
          "483": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "484": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ClientRequestToken"],
                "properties": {
                  "ClientRequestToken": {
                    "description": "The unique identifier for the client request. Use a different token for different meetings.",
                    "type": "string",
                    "pattern": "[-_a-zA-Z0-9]*",
                    "minLength": 2,
                    "maxLength": 64,
                    "format": "password"
                  },
                  "ExternalMeetingId": {
                    "description": "The external meeting ID.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64,
                    "format": "password"
                  },
                  "MeetingHostId": {
                    "description": "Reserved.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64,
                    "format": "password"
                  },
                  "MediaRegion": {
                    "description": "<p>The Region in which to create the meeting. Default: <code>us-east-1</code>.</p> <p>Available values: <code>af-south-1</code>, <code>ap-northeast-1</code>, <code>ap-northeast-2</code>, <code>ap-south-1</code>, <code>ap-southeast-1</code>, <code>ap-southeast-2</code>, <code>ca-central-1</code>, <code>eu-central-1</code>, <code>eu-north-1</code>, <code>eu-south-1</code>, <code>eu-west-1</code>, <code>eu-west-2</code>, <code>eu-west-3</code>, <code>sa-east-1</code>, <code>us-east-1</code>, <code>us-east-2</code>, <code>us-west-1</code>, <code>us-west-2</code>.</p>",
                    "type": "string"
                  },
                  "Tags": {
                    "description": "The tag key-value pairs.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Tag"
                    },
                    "minItems": 1,
                    "maxItems": 50
                  },
                  "NotificationsConfiguration": {
                    "description": "The configuration for resource targets to receive notifications when Amazon Chime SDK meeting and attendee events occur. The Amazon Chime SDK supports resource targets located in the US East (N. Virginia) AWS Region (<code>us-east-1</code>).",
                    "type": "object",
                    "properties": {
                      "SnsTopicArn": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Arn"
                          },
                          {
                            "description": "The SNS topic ARN."
                          }
                        ]
                      },
                      "SqsQueueArn": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Arn"
                          },
                          {
                            "description": "The SQS queue ARN."
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Create Meeting"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/components/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/components/parameters/X-Amz-SignedHeaders"
        }
      ],
      "get": {
        "operationId": "ListMeetings",
        "description": "Lists up to 100 active Amazon Chime SDK meetings. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMeetingsResponse"
                }
              }
            }
          },
          "480": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestException"
                }
              }
            }
          },
          "481": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenException"
                }
              }
            }
          },
          "482": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottledClientException"
                }
              }
            }
          },
          "483": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedClientException"
                }
              }
            }
          },
          "484": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableException"
                }
              }
            }
          },
          "485": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceFailureException"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "next-token",
            "in": "query",
            "required": false,
            "description": "The token to use to retrieve the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-results",
            "in": "query",
            "required": false,
            "description": "The maximum number of results to return in a single call.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 99
            }
          },
          {
            "name": "MaxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          }
        ],
        "summary": "List Meetings"
      }
    },
    "/meetings#operation=create-attendees": {
      "post": {
        "operationId": "CreateMeetingWithAttendees",
[...]
