{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://poly.googleapis.com/"
    }
  ],
  "info": {
    "title": "Google Poly API",
    "version": "v1",
    "x-logo": {
      "url": "https://lh3.googleusercontent.com/3iAH9QGvTXevXw_69AAAYR0Aee553phgIjjQkqFNsm8RYLSzIL3MwH3CPg3-h-2UiHTpXvx8ebp2r_CzwyM=w160-h160"
    },
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "The Poly API provides read access to assets hosted on poly.google.com to all, and upload access to poly.google.com for whitelisted accounts.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/"
  },
  "externalDocs": {
    "url": "https://developers.google.com/poly/"
  },
  "tags": [
    {
      "name": "assets"
    },
    {
      "name": "users"
    }
  ],
  "paths": {
    "/v1/assets": {
      "get": {
        "description": "Lists all public, remixable assets. These are assets with an access level\nof PUBLIC and published under the\nCC-By license.",
        "operationId": "poly.assets.list",
        "parameters": [
          {
            "description": "Filter assets based on the specified category. Supported values are:\n`animals`, `architecture`, `art`, `food`, `nature`, `objects`, `people`,\n`scenes`, `technology`, and `transport`.",
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return only assets that have been curated by the Poly team.",
            "in": "query",
            "name": "curated",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Return only assets with the matching format. Acceptable values are:\n`BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, `TILT`.",
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "One or more search terms to be matched against all text that Poly has\nindexed for assets, which includes display_name,\ndescription, and tags. Multiple keywords should be\nseparated by spaces.",
            "in": "query",
            "name": "keywords",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Returns assets that are of the specified complexity or less. Defaults to\nCOMPLEX. For example, a request for\nMEDIUM assets also includes\nSIMPLE assets.",
            "in": "query",
            "name": "maxComplexity",
            "schema": {
              "enum": [
                "COMPLEXITY_UNSPECIFIED",
                "COMPLEX",
                "MEDIUM",
                "SIMPLE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specifies an ordering for assets. Acceptable values are:\n`BEST`, `NEWEST`, `OLDEST`. Defaults to `BEST`, which ranks assets\nbased on a combination of popularity and other features.",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of assets to be returned. This value must be between `1`\nand `100`. Defaults to `20`.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Specifies a continuation token from a previous search whose results were\nsplit into multiple pages. To get the next page, submit the same request\nspecifying the value from\nnext_page_token.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAssetsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "tags": [
          "assets"
        ],
        "summary": "list assets"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v1/{name}": {
      "get": {
        "description": "Returns detailed information about an asset given its name.\nPRIVATE assets are returned only if\n the currently authenticated user (via OAuth token) is the author of the\n asset.",
        "operationId": "poly.assets.get",
        "parameters": [
          {
            "description": "Required. An asset's name in the form `assets/{ASSET_ID}`.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "tags": [
          "assets"
        ],
        "summary": "get assets"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v1/{name}/assets": {
      "get": {
        "description": "Lists assets authored by the given user. Only the value 'me', representing\nthe currently-authenticated user, is supported. May include assets with an\naccess level of PRIVATE or\nUNLISTED and assets which are\nAll Rights Reserved for the\ncurrently-authenticated user.",
        "operationId": "poly.users.assets.list",
        "parameters": [
          {
            "description": "A valid user id. Currently, only the special value 'me', representing the\ncurrently-authenticated user is supported. To use 'me', you must pass\nan OAuth token with the request.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return only assets with the matching format. Acceptable values are:\n`BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, and `TILT`.",
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies an ordering for assets. Acceptable values are:\n`BEST`, `NEWEST`, `OLDEST`. Defaults to `BEST`, which ranks assets\nbased on a combination of popularity and other features.",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of assets to be returned. This value must be between `1`\nand `100`. Defaults to `20`.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Specifies a continuation token from a previous search whose results were\nsplit into multiple pages. To get the next page, submit the same request\nspecifying the value from\nnext_page_token.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The visibility of the assets to be returned.\nDefaults to\nVISIBILITY_UNSPECIFIED\nwhich returns all assets.",
            "in": "query",
            "name": "visibility",
            "schema": {
              "enum": [
                "VISIBILITY_UNSPECIFIED",
                "PUBLISHED",
                "PRIVATE"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUserAssetsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "tags": [
          "users"
        ],
        "summary": "list assets"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v1/{name}/likedassets": {
      "get": {
        "description": "Lists assets that the user has liked. Only the value 'me', representing\nthe currently-authenticated user, is supported. May include assets with an\naccess level of UNLISTED.",
        "operationId": "poly.users.likedassets.list",
        "parameters": [
          {
            "description": "A valid user id. Currently, only the special value 'me', representing the\ncurrently-authenticated user is supported. To use 'me', you must pass\nan OAuth token with the request.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return only assets with the matching format. Acceptable values are:\n`BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, `TILT`.",
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies an ordering for assets. Acceptable values are:\n`BEST`, `NEWEST`, `OLDEST`, 'LIKED_TIME'. Defaults to `LIKED_TIME`, which\nranks assets based on how recently they were liked.",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of assets to be returned. This value must be between `1`\nand `100`. Defaults to `20`.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Specifies a continuation token from a previous search whose results were\nsplit into multiple pages. To get the next page, submit the same request\nspecifying the value from\nnext_page_token.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLikedAssetsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "tags": [
          "users"
        ],
        "summary": "list likedassets"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        },
        "x-ignore": true
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        },
        "x-ignore": true
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        },
        "x-ignore": true
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        },
        "x-ignore": true
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        },
        "x-ignore": true
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        },
        "x-ignore": true
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        },
        "x-ignore": true
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "type": "boolean"
        },
        "x-ignore": true
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        },
        "x-ignore": true
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        },
        "x-ignore": true
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        },
        "x-ignore": true
      }
    },
    "schemas": {
      "Asset": {
        "description": "Represents and describes an asset in the Poly library. An asset is a 3D model\nor scene created using [Tilt Brush](//www.tiltbrush.com),\n[Blocks](//vr.google.com/blocks/), or any 3D program that produces a file\nthat can be upload to Poly.",
        "properties": {
          "authorName": {
            "description": "The author's publicly visible name. Use this name when giving credit to the\nauthor. For more information, see [Licensing](/poly/discover/licensing).",
            "type": "string"
          },
          "createTime": {
            "description": "For published assets, the time when the asset was published.\nFor unpublished assets, the time when the asset was created.",
            "format": "google-datetime",
            "type": "string"
          },
          "description": {
            "description": "The human-readable description, set by the asset's author.",
            "type": "string"
          },
          "displayName": {
            "description": "The human-readable name, set by the asset's author.",
            "type": "string"
          },
          "formats": {
            "description": "A list of Formats where each\nformat describes one representation of the asset.",
            "items": {
              "$ref": "#/components/schemas/Format"
            },
            "type": "array"
          },
          "isCurated": {
            "description": "Whether this asset has been curated by the Poly team.",
            "type": "boolean"
          },
          "license": {
            "description": "The license under which the author has made the asset available\nfor use, if any.",
            "enum": [
              "UNKNOWN",
              "CREATIVE_COMMONS_BY",
              "ALL_RIGHTS_RESERVED"
            ],
            "type": "string"
          },
          "metadata": {
            "description": "Application-defined opaque metadata for this asset. This field is only\nreturned when querying for the signed-in user's own assets, not for public\nassets. This string is limited to 1K chars. It is up to the creator of\nthe asset to define the format for this string (for example, JSON).",
            "type": "string"
          },
          "name": {
            "description": "The unique identifier for the asset in the form:\n`assets/{ASSET_ID}`.",
            "type": "string"
          },
          "presentationParams": {
            "$ref": "#/components/schemas/PresentationParams",
            "description": "Hints for displaying the asset. Note that these parameters are not\nimmutable; the author of an asset may change them post-publication."
          },
          "remixInfo": {
            "$ref": "#/components/schemas/RemixInfo",
            "description": "The remix info for the asset."
          },
          "thumbnail": {
            "$ref": "#/components/schemas/File",
            "description": "The thumbnail image for the asset."
          },
          "updateTime": {
            "description": "The time when the asset was last modified. For published assets, whose\ncontents are immutable, the update time changes only when metadata\nproperties, such as visibility, are updated.",
            "format": "google-datetime",
            "type": "string"
          },
          "visibility": {
            "description": "The visibility of the asset and who can access it.",
            "enum": [
              "VISIBILITY_UNSPECIFIED",
              "PRIVATE",
              "UNLISTED",
              "PUBLIC"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "File": {
        "description": "Represents a file in Poly, which can be a root,\nresource, or thumbnail file.",
        "properties": {
          "contentType": {
            "description": "The MIME content-type, such as `image/png`.\nFor more information, see\n[MIME\ntypes](//developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types).",
            "type": "string"
          },
          "relativePath": {
            "description": "The path of the resource file relative to the\nroot file. For root or thumbnail files,\nthis is just the filename.",
            "type": "string"
          },
          "url": {
            "description": "The URL where the file data can be retrieved.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Format": {
        "description": "The same asset can be represented in different formats, for example,\na [WaveFront .obj](//en.wikipedia.org/wiki/Wavefront_.obj_file) file with its\ncorresponding .mtl file or a [Khronos glTF](//www.khronos.org/gltf) file\nwith its corresponding .glb binary data. A format refers to a specific\nrepresentation of an asset and contains all information needed to\nretrieve and describe this representation.",
        "properties": {
          "formatComplexity": {
            "$ref": "#/components/schemas/FormatComplexity",
            "description": "Complexity stats about this representation of the asset."
          },
          "formatType": {
            "description": "A short string that identifies the format type of this representation.\nPossible values are: `FBX`, `GLTF`, `GLTF2`, `OBJ`, and `TILT`.",
            "type": "string"
          },
          "resources": {
            "description": "A list of dependencies of the root element. May include, but is not\nlimited to, materials, textures, and shader programs.",
            "items": {
              "$ref": "#/components/schemas/File"
            },
            "type": "array"
          },
          "root": {
            "$ref": "#/components/schemas/File",
            "description": "The root of the file hierarchy. This will always be populated.\nFor some format_types - such as `TILT`, which are\nself-contained - this is all of the data.\n\nOther types - such as `OBJ` - often reference other data elements.\nThese are contained in the resources field."
          }
        },
        "type": "object"
      },
      "FormatComplexity": {
        "description": "Information on the complexity of this Format.",
        "properties": {
          "lodHint": {
            "description": "A non-negative integer that represents the level of detail (LOD) of this\nformat relative to other formats of the same asset with the same\nformat_type.\nThis hint allows you to sort formats from the most-detailed (0) to\nleast-detailed (integers greater than 0).",
            "format": "int32",
            "type": "integer"
          },
          "triangleCount": {
            "description": "The estimated number of triangles.",
            "format": "int64",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListAssetsResponse": {
        "description": "A response message from a request to list.",
        "properties": {
          "assets": {
            "description": "A list of assets that match the criteria specified in the request.",
            "items": {
              "$ref": "#/components/schemas/Asset"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "The continuation token for retrieving the next page. If empty,\nindicates that there are no more pages. To get the next page, submit the\nsame request specifying this value as the\npage_token.",
            "type": "string"
          },
          "totalSize": {
            "description": "The total number of assets in the list, without pagination.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ListLikedAssetsResponse": {
        "description": "A response message from a request to list.",
        "properties": {
          "assets": {
            "description": "A list of assets that match the criteria specified in the request.",
            "items": {
              "$ref": "#/components/schemas/Asset"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "The continuation token for retrieving the next page. If empty,\nindicates that there are no more pages. To get the next page, submit the\nsame request specifying this value as the\npage_token.",
            "type": "string"
          },
          "totalSize": {
            "description": "The total number of assets in the list, without pagination.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ListUserAssetsResponse": {
        "description": "A response message from a request to list.",
        "properties": {
          "nextPageToken": {
            "description": "The continuation token for retrieving the next page. If empty,\nindicates that there are no more pages. To get the next page, submit the\nsame request specifying this value as the\npage_token.",
            "type": "string"
          },
          "totalSize": {
            "description": "The total number of assets in the list, without pagination.",
            "format": "int32",
            "type": "integer"
          },
          "userAssets": {
            "description": "A list of UserAssets matching the request.",
            "items": {
              "$ref": "#/components/schemas/UserAsset"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PresentationParams": {
        "description": "Hints for displaying the asset, based on information available when the asset\nwas uploaded.",
        "properties": {
          "backgroundColor": {
            "description": "A background color which could be used for displaying the 3D asset in a\n'thumbnail' or 'palette' style view. Authors have the option to set this\nbackground color when publishing or editing their asset.\n\nThis is represented as a six-digit hexademical triplet specifying the\nRGB components of the background color, e.g. #FF0000 for Red.",
            "type": "string"
          },
          "colorSpace": {
            "description": "The materials' diffuse/albedo color. This does not apply to vertex colors\nor texture maps.",
            "enum": [
              "UNKNOWN",
              "LINEAR",
              "GAMMA"
            ],
            "type": "string"
          },
          "orientingRotation": {
            "$ref": "#/components/schemas/Quaternion",
            "description": "A rotation that should be applied to the object root to make it upright.\nMore precisely, this quaternion transforms from \"object space\" (the space\nin which the object is defined) to \"presentation space\", a coordinate\nsystem where +Y is up, +X is right, -Z is forward. For example, if\nthe object is the Eiffel Tower, in its local coordinate system the\nobject might be laid out such that the base of the tower is on the\nYZ plane and the tip of the tower is towards positive X. In this case\nthis quaternion would specify a rotation (of 90 degrees about the Z\naxis) such that in the presentation space the base of the tower is\naligned with the XZ plane, and the tip of the tower lies towards +Y.\n\nThis rotation is unrelated to the object's pose in the web preview,\nwhich is just a camera position setting and is *not* reflected in this\nrotation.\n\nPlease note: this is applicable only to the gLTF."
          }
        },
        "type": "object"
      },
      "Quaternion": {
        "description": "A [Quaternion](//en.wikipedia.org/wiki/Quaternion). Please note: if in the\nresponse you see \"w: 1\" and nothing else this is the default value of\n[0, 0, 0, 1] where x,y, and z are 0.",
        "properties": {
          "w": {
            "description": "The scalar component.",
            "format": "double",
            "type": "number"
          },
          "x": {
            "description": "The x component.",
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "The y component.",
            "format": "double",
            "type": "number"
          },
          "z": {
            "description": "The z component.",
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "RemixInfo": {
        "description": "Info about the sources of this asset (i.e. assets that were remixed to\ncreate this asset).",
        "properties": {
          "sourceAsset": {
            "description": "Resource ids for the sources of this remix, of the form:\n`assets/{ASSET_ID}`",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "UserAsset": {
        "description": "Data about the user's asset.",
        "properties": {
          "asset": {
            "$ref": "#/components/schemas/Asset",
            "description": "An Asset."
          }
        },
        "type": "object"
      }
    }
  }
}