{
  "openapi": "3.0.1",
  "info": {
    "version": "4.76.1",
    "title": "Linode",
    "description": "",
    "x-categories": [
      "cloud-computing"
    ],
    "x-logo": {
      "url": "/logos/linode.png"
    },
    "contact": {
      "name": "Linode",
      "url": "/"
    }
  },
  "servers": [
    {
      "url": "https://api.linode.com/v4"
    },
    {
      "url": "https://api.linode.com/v4beta"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "x-linode-grant": "read_only",
        "tags": [
          "Account"
        ],
        "summary": "View Account",
        "description": "Returns the contact and billing information related to your Account.\n",
        "operationId": "getAccount",
        "x-linode-cli-action": "view",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a single Account object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account view\n"
          }
        ]
      },
      "put": {
        "x-linode-grant": "read_write",
        "tags": [
          "Account"
        ],
        "summary": "Update Account",
        "description": "Updates contact and billing information related to your Account.\n",
        "operationId": "updateAccount",
        "x-linode-cli-action": "update",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Update contact and billing information.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X PUT -d '{\n      \"address_1\": \"123 Main St.\",\n      \"address_2\": \"Suite 101\",\n      \"city\": \"Philadelphia\",\n      \"company\": \"My Company, LLC\",\n      \"country\": \"US\",\n      \"email\": \"jsmith@mycompany.com\",\n      \"first_name\": \"John\",\n      \"last_name\": \"Smith\",\n      \"phone\": \"555-555-1212\",\n      \"state\": \"PA\",\n      \"zip\": 19102,\n      }\n    }' \\\n    https://api.linode.com/v4/account\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account update \\\n  --first_name John \\\n  --last_name Smith\n"
          }
        ]
      }
    },
    "/account/cancel": {
      "post": {
        "x-linode-grant": "read_write",
        "tags": [
          "Account"
        ],
        "summary": "Cancel Account",
        "description": "Cancels an active Linode account. This action will cause Linode to attempt to charge the credit card on file for the remaining balance. An error will occur if Linode fails to charge the credit card on file. Restricted users will not be able to cancel an account.\n",
        "operationId": "cancelAccount",
        "x-linode-cli-action": "cancel",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Supply a comment stating the reason that you are cancelling your account.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comments": {
                    "type": "string",
                    "description": "Any reason for cancelling the account, and any other comments you might have about your Linode service.\n",
                    "example": "I'm consolidating multiple accounts into one."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "survey_link": {
                      "type": "string",
                      "description": "A link to Linode's exit survey."
                    }
                  },
                  "example": {
                    "survey_link": "https://alinktothesurvey.com"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Could not charge the credit card on file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reason": {
                            "type": "string",
                            "description": "A string explaining that the account could not be cancelled because there is an outstanding balance on the account that must be paid first.\n",
                            "example": "We were unable to charge your credit card for services rendered. We cannot cancel this account until the balance has been paid.\n"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X PUT -d '{\n      \"comments\": \"I'm consolidating my accounts.\"\n      }\n    }' \\\n    https://api.linode.com/v4/account/cancel\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account cancel \\\n  --comments \"I'm consolidating my accounts\"\n"
          }
        ]
      }
    },
    "/account/credit-card": {
      "post": {
        "x-linode-grant": "read_write",
        "tags": [
          "Account"
        ],
        "summary": "Add/Edit Credit Card",
        "description": "Adds/edit credit card information to your Account.\nOnly one credit card can be associated with your Account, so using this endpoint will overwrite your currently active card information with the new credit card.\n",
        "operationId": "createCreditCard",
        "x-linode-cli-action": "update-card",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Update the credit card information associated with your Account.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditCard"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "cvv": {
                        "type": "string",
                        "description": "The Card Verification Value on the back of the card.\n",
                        "example": "123"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit Card updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST -d '{\n      \"card_number\": \"4111111111111111\",\n      \"expiry_month\": 11,\n      \"expiry_year\": 2020\n    }' \\\n    https://api.linode.com/v4/account/credit-card\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account update-card \\\n  --card_number 4111111111111111 \\\n  --expiry_month 11 \\\n  --expiry_year 2025\n"
          }
        ]
      }
    },
    "/account/events": {
      "get": {
        "x-linode-grant": "read_only",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "tags": [
          "Account"
        ],
        "summary": "List Events",
        "description": "Returns a collection of Event objects representing actions taken on your Account from the last 90 days. The Events returned depend on your grants.\n",
        "operationId": "getEvents",
        "x-linode-cli-action": "list",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "events:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated lists of Event objects from the last 90 days.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/page"
                    },
                    "pages": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/pages"
                    },
                    "results": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/results"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/events\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli events list\n"
          }
        ]
      }
    },
    "/account/events/{eventId}": {
      "parameters": [
        {
          "name": "eventId",
          "in": "path",
          "description": "The ID of the Event.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "x-linode-grant": "read_only",
        "tags": [
          "Account"
        ],
        "summary": "View Event",
        "description": "Returns a single Event object.\n",
        "operationId": "getEvent",
        "x-linode-cli-action": "view",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "events:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "An Event object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/events/123\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli events view 123\n"
          }
        ]
      }
    },
    "/account/events/{eventId}/read": {
      "parameters": [
        {
          "name": "eventId",
          "in": "path",
          "description": "The ID of the Event to designate as read.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "x-linode-grant": "read_write",
        "tags": [
          "Account"
        ],
        "summary": "Mark Event as Read",
        "description": "Marks a single Event as read.",
        "operationId": "eventRead",
        "x-linode-cli-action": "mark-read",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "events:read_write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Event read.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST \\\n    https://api.linode.com/v4/account/events/123/read\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli events mark-read 123\n"
          }
        ]
      }
    },
    "/account/events/{eventId}/seen": {
      "parameters": [
        {
          "name": "eventId",
          "in": "path",
          "description": "The ID of the Event to designate as seen.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "x-linode-grant": "read_write",
        "tags": [
          "Account"
        ],
        "summary": "Mark Event as Seen",
        "description": "Marks all Events up to and including this Event by ID as seen.\n",
        "operationId": "eventSeen",
        "x-linode-cli-action": "mark-seen",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "events:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Events seen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST \\\n    https://api.linode.com/v4/account/events/123/seen\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli events mark-seen 123\n"
          }
        ]
      }
    },
    "/account/invoices": {
      "get": {
        "x-linode-grant": "read_only",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "tags": [
          "Account"
        ],
        "summary": "List Invoices",
        "description": "Returns a paginated list of Invoices against your Account.\n",
        "operationId": "getInvoices",
        "x-linode-cli-action": "invoices-list",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of Invoice objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/page"
                    },
                    "pages": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/pages"
                    },
                    "results": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/results"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/invoices\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account invoices-list\n"
          }
        ]
      }
    },
    "/account/invoices/{invoiceId}": {
      "parameters": [
        {
          "name": "invoiceId",
          "in": "path",
          "description": "The ID of the Invoice.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "x-linode-grant": "read_only",
        "tags": [
          "Account"
        ],
        "summary": "View Invoice",
        "description": "Returns a single Invoice object.",
        "operationId": "getInvoice",
        "x-linode-cli-action": "invoice-view",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "An Invoice object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/invoices/123\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account invoice-view 123\n"
          }
        ]
      }
    },
    "/account/invoices/{invoiceId}/items": {
      "parameters": [
        {
          "name": "invoiceId",
          "in": "path",
          "description": "The ID of the Invoice.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "x-linode-grant": "read_only",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "tags": [
          "Account"
        ],
        "summary": "List Invoice Items",
        "description": "Returns a paginated list of Invoice items.",
        "operationId": "getInvoiceItems",
        "x-linode-cli-action": "invoice-items",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of InvoiceItem objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceItem"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/page"
                    },
                    "pages": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/pages"
                    },
                    "results": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/results"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/invoices/123/items\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account invoice-items 123\n"
          }
        ]
      }
    },
    "/account/logins": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List All User Logins",
        "description": "Returns a collection of successful logins for all users on the account during the last 90 days. This command can only be accessed by the unrestricted users of an account.\n",
        "operationId": "getAccountLogins",
        "x-linode-cli-action": "logins-list",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of successful logins for all users on the account during the last 90 days.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Login"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/logins\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account logins-list\n"
          }
        ]
      }
    },
    "/account/logins/{loginId}": {
      "parameters": [
        {
          "name": "loginId",
          "in": "path",
          "description": "The ID of the login object to access.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "View Login",
        "description": "Returns a Login object that displays information about a successful login. The logins that can be viewed can be for any user on the account, and are not limited to only the logins of the user that is accessing this API endpoint. This command can only be accessed by the unrestricted users of the account.\n",
        "operationId": "getAccountLogin",
        "x-linode-cli-action": "login-view",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The requested login object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Login"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/logins/1234\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account login-view 1234\n"
          }
        ]
      }
    },
    "/account/maintenance": {
      "get": {
        "x-linode-grant": "read_only",
        "servers": [
          {
            "url": "https://api.linode.com/v4beta"
          }
        ],
        "tags": [
          "Account"
        ],
        "summary": "List Maintenance",
        "description": "Returns a collection of Maintenance objects for any entity a user has permissions to view.\n\nCurrently, Linodes are the only entities available for viewing.\n\n**Beta**: This endpoint is in beta. Please make sure to prepend all requests with `/v4beta` instead of `/v4`, and be aware that this endpoint may receive breaking updates in the future. This notice will be removed when this endpoint is out of beta.\n",
        "operationId": "getMaintenance",
        "x-linode-cli-action": "maintenance-list",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "maintenance:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of Maintenance objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Maintenance"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/page"
                    },
                    "pages": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/pages"
                    },
                    "results": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/results"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4beta/account/maintenance\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account maintenance-list\n"
          }
        ]
      }
    },
    "/account/notifications": {
      "get": {
        "x-linode-grant": "read_only",
        "tags": [
          "Account"
        ],
        "summary": "List Notifications",
        "description": "Returns a collection of Notification objects representing important, often time-sensitive items related to your Account.\nYou cannot interact directly with Notifications, and a Notification will disappear when the circumstances causing it have been resolved. For example, if you have an important Ticket open, you must respond to the Ticket to dismiss the Notification.\n",
        "operationId": "getNotifications",
        "x-linode-cli-action": "notifications-list",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of Notification objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Notification"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/page"
                    },
                    "pages": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/pages"
                    },
                    "results": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/results"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/notifications\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account notifications-list\n"
          }
        ]
      }
    },
    "/account/oauth-clients": {
      "get": {
        "x-linode-grant": "read_only",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "tags": [
          "Account"
        ],
        "summary": "List OAuth Clients",
        "description": "Returns a paginated list of OAuth Clients registered to your Account.  OAuth Clients allow users to log into applications you write or host using their Linode Account, and may allow them to grant some level of access to their Linodes or other entities to your application.\n",
        "operationId": "getClients",
        "x-linode-cli-action": "clients-list",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of OAuth Clients.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OAuthClient"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/page"
                    },
                    "pages": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/pages"
                    },
                    "results": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/results"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/oauth-clients\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account clients-list\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create OAuth Client",
        "description": "Creates an OAuth Client, which can be used to allow users (using their Linode account) to log in to your own application, and optionally grant your application some amount of access to their Linodes or other entities.\n",
        "operationId": "createClient",
        "x-linode-cli-action": "client-create",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Information about the OAuth Client to create.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "label",
                  "redirect_uri"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OAuthClient"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "public": {
                        "type": "boolean",
                        "description": "Whether to create a public or private client.",
                        "example": false,
                        "readOnly": false
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClient"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST -d '{\n        \"redirect_uri\": \"https://example.org/oauth/callback\",\n        \"label\": \"Test_Client_1\",\n        \"public\": false\n    }' \\\n    https://api.linode.com/v4/account/oauth-clients\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account client-create \\\n  --label Test_Client_1 \\\n  --redirect_uri https://example.org/callback\n"
          }
        ]
      }
    },
    "/account/oauth-clients/{clientId}": {
      "parameters": [
        {
          "name": "clientId",
          "in": "path",
          "description": "The OAuth Client ID to look up.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "View OAuth Client",
        "description": "Returns information about a single OAuth client.\n",
        "operationId": "getClient",
        "x-linode-cli-action": "client-view",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the requested client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClient"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account client-view \\\n  edc6790ea9db4d224c5c\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update OAuth Client",
        "description": "Update information about an OAuth Client on your Account. This can be especially useful to update the `redirect_uri` of your client in the event that the callback url changed in your application.\n",
        "operationId": "updateClient",
        "x-linode-cli-action": "client-update",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "The fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthClient"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClient"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X PUT -d '{\n      \"redirect_uri\": \"https://example.org/oauth/callback\",\n      \"label\": \"Test_Client_1\"\n      }\n    }' \\\n    https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account client-update \\\n  edc6790ea9db4d224c5c \\\n  --label Test_Client_1\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete OAuth Client",
        "description": "Deletes an OAuth Client registered with Linode. The Client ID and Client secret will no longer be accepted by <a target=\"_top\" href=\"https://login.linode.com\">https://login.linode.com</a>, and all tokens issued to this client will be invalidated (meaning that if your application was using a token, it will no longer work).\n",
        "operationId": "deleteClient",
        "x-linode-cli-action": "client-delete",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Client deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    -X DELETE \\\n    https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account client-delete \\\n  edc6790ea9db4d224c5c\n"
          }
        ]
      }
    },
    "/account/oauth-clients/{clientId}/reset-secret": {
      "parameters": [
        {
          "name": "clientId",
          "in": "path",
          "description": "The OAuth Client ID to look up.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Reset OAuth Client Secret",
        "description": "Resets the OAuth Client secret for a client you own, and returns the OAuth Client with the plaintext secret. This secret is not supposed to be publicly known or disclosed anywhere. This can be used to generate a new secret in case the one you have has been leaked, or to get a new secret if you lost the original. The old secret is expired immediately, and logins to your client with the old secret will fail.\n",
        "operationId": "resetClientSecret",
        "x-linode-cli-action": "client-reset-secret",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Client secret reset successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClient"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST \\\n    https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/reset-secret\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account client-reset-secret \\\n  edc6790ea9db4d224c5c\n"
          }
        ]
      }
    },
    "/account/oauth-clients/{clientId}/thumbnail": {
      "parameters": [
        {
          "name": "clientId",
          "in": "path",
          "description": "The OAuth Client ID to look up.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "View OAuth Client Thumbnail",
        "description": "Returns the thumbnail for this OAuth Client.  This is a publicly-viewable endpoint, and can be accessed without authentication.\n",
        "operationId": "getClientThumbnail",
        "x-linode-cli-skip": true,
        "x-linode-cli-action": "client-thumbnail",
        "responses": {
          "200": {
            "description": "The client's thumbnail.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/thumbnail > thumbnail.png\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update OAuth Client Thumbnail",
        "description": "Upload a thumbnail for a client you own.  You must upload an image file that will be returned when the thumbnail is retrieved.  This image will be publicly-viewable.\n",
        "operationId": "setClientThumbnail",
        "x-linode-cli-skip": true,
        "x-linode-cli-action": "update-client-thumbnail",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "The image to set as the thumbnail.",
          "required": true,
          "content": {
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thumbnail updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: image/png\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X PUT \\\n    --data-binary \"/path/to/image\"\n    https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/thumbnail\n"
          }
        ]
      }
    },
    "/account/payments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "x-linode-grant": "read_only",
        "tags": [
          "Account"
        ],
        "summary": "List Payments",
        "description": "Returns a paginated list of Payments made on this Account.\n",
        "operationId": "getPayments",
        "x-linode-cli-action": "payments-list",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of Payment objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/page"
                    },
                    "pages": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/pages"
                    },
                    "results": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/results"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/payments\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account payments-list\n"
          }
        ]
      },
      "post": {
        "x-linode-grant": "read_write",
        "tags": [
          "Account"
        ],
        "summary": "Make Payment",
        "description": "Makes a Payment to your Account via credit card. This will charge your credit card the requested amount.\n",
        "operationId": "createPayment",
        "x-linode-cli-action": "payment-create",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Information about the Payment you are making.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment made.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST -d '{\n        \"cvv\": \"123\",\n        \"usd\": \"120.50\"\n    }' \\\n    https://api.linode.com/v4/account/payments\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account payment-create \\\n  --cvv 123 \\\n  --usd 120.50\n"
          }
        ]
      }
    },
    "/account/payments/{paymentId}": {
      "parameters": [
        {
          "name": "paymentId",
          "in": "path",
          "description": "The ID of the Payment to look up.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "x-linode-grant": "read_only",
        "tags": [
          "Account"
        ],
        "summary": "View Payment",
        "description": "Returns information about a specific Payment.\n",
        "operationId": "getPayment",
        "x-linode-cli-action": "payment-view",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A Payment object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/payments/123\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account payment-view 123\n"
          }
        ]
      }
    },
    "/account/payments/paypal": {
      "post": {
        "x-linode-grant": "read_only",
        "tags": [
          "Account"
        ],
        "summary": "Stage PayPal Payment",
        "description": "This begins the process of submitting a Payment via PayPal. After calling this endpoint, you must take the resulting `payment_id` along with the `payer_id` from your PayPal account and [POST /account/payments/paypal-execute](/api/v4/account-payments-paypal-execute/#post) to complete the Payment.\n",
        "operationId": "createPayPalPayment",
        "x-linode-cli-action": "paypal-start",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "The amount of the Payment to submit via PayPal.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayPal"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PayPal Payment staged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment_id": {
                      "type": "string",
                      "description": "The paypal-generated ID for this Payment. Used when authorizing the Payment in PayPal's interface.\n",
                      "example": "PAY-1234567890ABCDEFGHIJKLMN"
                    },
                    "checkout_token": {
                      "type": "string",
                      "description": "The checkout token generated for this Payment.\n",
                      "example": "EC-1A2B3C4D5E6F7G8H9",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST -d '{\n        \"usd\": \"120.50\",\n        \"redirect_url\": \"https://example.org\",\n        \"cancel_url\": \"https://example.org\"\n    }' \\\n    https://api.linode.com/v4/account/payments/paypal\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account paypal-start \\\n  --cancel_url https://example.org \\\n  --redirect_url https://example.org \\\n  --usd 120.50\n"
          }
        ]
      }
    },
    "/account/payments/paypal/execute": {
      "post": {
        "x-linode-grant": "read_write",
        "tags": [
          "Account"
        ],
        "summary": "Execute Staged/Approved PayPal Payment",
        "description": "Given a PaymentID and PayerID - as generated by PayPal during the transaction authorization process - this endpoint executes the Payment to capture the funds and credit your Linode Account.\n",
        "operationId": "executePayPalPayment",
        "x-linode-cli-action": "paypal-execute",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "The details of the Payment to execute.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayPalExecute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PayPal Payment executed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST -d '{\n        \"payment_id\": \"PAY-1234567890ABCDEFGHIJKLMN\",\n        \"payer_id\": \"ABCDEFGHIJKLM\"\n    }' \\\n    https://api.linode.com/v4/account/payments/paypal\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account paypal-execute\n"
          }
        ]
      }
    },
    "/account/settings": {
      "get": {
        "x-linode-grant": "read_only",
        "tags": [
          "Account"
        ],
        "summary": "View Account Settings",
        "description": "Returns information related to your Account settings: Managed service subscription, Longview subscription, and network helper.\n",
        "operationId": "getAccountSettings",
        "x-linode-cli-action": "settings",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a single Account settings object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSettings"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/settings\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account settings\n"
          }
        ]
      },
      "put": {
        "x-linode-grant": "read_write",
        "tags": [
          "Account"
        ],
        "summary": "Update Account Settings",
        "description": "Updates your Account settings.\n\nTo update your Longview subscription plan, send a request to [Update Longview Plan](/api/v4/longview-plan/#put).\n",
        "operationId": "updateAccountSettings",
        "x-linode-cli-action": "settings-update",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Update Account settings information.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Account settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSettings"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X PUT -d '{\n        \"network_helper\": true,\n    }' \\\n    https://api.linode.com/v4/account/settings\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account settings-update \\\n  --network_helper false\n"
          }
        ]
      }
    },
    "/account/settings/managed-enable": {
      "post": {
        "x-linode-grant": "read_write",
        "tags": [
          "Account"
        ],
        "summary": "Enable Linode Managed",
        "description": "Enables Linode Managed for the entire account and sends a welcome email to the account's associated email address. Linode Managed can monitor any service or software stack reachable over TCP or HTTP. See our [Linode Managed guide](https://linode.com/docs/platform/linode-managed/) to learn more.\n",
        "operationId": "enableAccountManged",
        "x-linode-cli-action": "enable-managed",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Managed services enabled for account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST \\\n    https://api.linode.com/v4/account/settings/managed-enable\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account enable-managed\n"
          }
        ]
      }
    },
    "/account/transfer": {
      "get": {
        "x-linode-grant": "read_only",
        "tags": [
          "Account"
        ],
        "summary": "View Network Utilization",
        "description": "Returns a Transfer object showing your network utilization, in GB, for the current month.\n",
        "operationId": "getTransfer",
        "x-linode-cli-action": "transfer",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a single Transfer object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/transfer\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli account transfer\n"
          }
        ]
      }
    },
    "/account/users": {
      "get": {
        "x-linode-grant": "unrestricted only",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "tags": [
          "Account"
        ],
        "summary": "List Users",
        "description": "Returns a paginated list of Users on your Account. Users may access all or part of your Account based on their restricted status and grants.  An unrestricted User may access everything on the account, whereas restricted User may only access entities or perform actions they've been given specific grants to.\n",
        "operationId": "getUsers",
        "x-linode-cli-action": "list",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of Users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/page"
                    },
                    "pages": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/pages"
                    },
                    "results": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/results"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/users\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli users list\n"
          }
        ]
      },
      "post": {
        "x-linode-grant": "unrestricted only",
        "tags": [
          "Account"
        ],
        "summary": "Create User",
        "description": "Creates a User on your Account. Once created, the User will be able to log in and access portions of your Account. Access is determined by whether or not they are restricted, and what grants they have been given.\n",
        "operationId": "createUser",
        "x-linode-cli-action": "create",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Information about the User to create.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "username",
                  "email"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9]((?![_-]{2,})[a-zA-Z0-9-_])+[a-zA-Z0-9]$",
                    "minLength": 3,
                    "maxLength": 32,
                    "description": "The new User's username. This is used for logging in, and may also be displayed alongside actions the User performs (for example, in Events or public StackScripts).\n",
                    "example": "example_user"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The new User's email address.\n",
                    "example": "example_user@linode.com"
                  },
                  "restricted": {
                    "type": "boolean",
                    "description": "If true, the new User must be granted access to perform actions or access entities on this Account. See [/account/users/{username}/grants](/api/v4/account-users-username-grants) for details on how to configure grants for a restricted User.\n",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New User created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST -d '{\n        \"username\": \"example_user\",\n        \"email\": \"person@place.com\",\n        \"restricted\": true\n    }' \\\n    https://api.linode.com/v4/account/users\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli users create \\\n  --username example_user \\\n  --email example_user@linode.com\n"
          }
        ]
      }
    },
    "/account/users/{username}": {
      "parameters": [
        {
          "name": "username",
          "in": "path",
          "description": "The username to look up.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "x-linode-grant": "unrestricted only",
        "tags": [
          "Account"
        ],
        "summary": "View User",
        "description": "Returns information about a single User on your Account.\n",
        "operationId": "getUser",
        "x-linode-cli-action": "view",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The requested User object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/users/example_user\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli users view example_user\n"
          }
        ]
      },
      "put": {
        "x-linode-grant": "unrestricted only",
        "tags": [
          "Account"
        ],
        "summary": "Update User",
        "description": "Update information about a User on your Account. This can be used to change the restricted status of a User. When making a User restricted, no grants will be configured by default and you must then set up grants in order for the User to access anything on the Account.\n",
        "operationId": "updateUser",
        "x-linode-cli-action": "update",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "The information to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X PUT -d '{\n        \"username\": example_user\n        \"restricted\": true\n    }' \\\n    https://api.linode.com/v4/account/users/example_user\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli users update example_user \\\n  --username example_user \\\n  --restricted true\n"
          }
        ]
      },
      "delete": {
        "x-linode-grant": "unrestricted only",
        "tags": [
          "Account"
        ],
        "summary": "Delete User",
        "description": "Deletes a User. The deleted User will be immediately logged out and may no longer log in or perform any actions. All of the User's Grants will be removed.\n",
        "operationId": "deleteUser",
        "x-linode-cli-action": "delete",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    -X DELETE \\\n    https://api.linode.com/v4/account/users/example_user\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli users delete example_user\n"
          }
        ]
      }
    },
    "/account/users/{username}/grants": {
      "parameters": [
        {
          "name": "username",
          "in": "path",
          "description": "The username to look up.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "x-linode-grant": "unrestricted only",
        "tags": [
          "Account"
        ],
        "summary": "View User's grants",
        "description": "Returns the full grants structure for the specified account User (other than the account owner, see below for details). This includes all entities on the Account alongside the level of access this User has to each of them.\n\nThe current authenticated User, including the account owner, may view their own grants at the [/profile/grants](/api/v4/profile-grants) endpoint, but will not see entities that they do not have access to.\n",
        "operationId": "getUserGrants",
        "x-linode-cli-action": "grants",
        "x-linode-cli-skip": true,
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The User's grants.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantsResponse"
                }
              }
            }
          },
          "204": {
            "description": "This is an unrestricted User, and therefore has no grants to return. This User may access everything on the Account and perform all actions.\n"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/account/users/example_user/grants\n"
          }
        ]
      },
      "put": {
        "x-linode-grant": "unrestricted only",
        "tags": [
          "Account"
        ],
        "summary": "Update User's grants",
        "description": "Update the grants a User has. This can be used to give a User access to new entities or actions, or take access away.  You do not need to include the grant for every entity on the Account in this request; any that are not included will remain unchanged.\n",
        "operationId": "updateUserGrants",
        "x-linode-cli-action": "update-grants",
        "x-linode-cli-skip": true,
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "account:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "The grants to update. Omitted grants will be left unchanged.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantsResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grants updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X PUT -d '{\n        \"global\": {\n          \"add_linodes\": true,\n          \"add_nodebalancers\": false,\n          \"add_domains\": true,\n          \"add_longview\": false,\n          \"add_stackscripts\": true,\n          \"longview_subscription\": true,\n          \"add_images\": true,\n          \"add_volumes\": true,\n          \"account_access\": \"read_only\",\n          \"cancel_account\": false\n        },\n        \"domain\": [\n          {\n            \"id\": 123,\n            \"permissions\": \"read_only\"\n          }\n        ],\n        \"image\": [\n          {\n            \"id\": 123,\n            \"permissions\": \"read_only\"\n          }\n        ],\n        \"linode\": [\n          {\n            \"id\": 123,\n            \"permissions\": \"read_only\"\n          },\n          {\n            \"id\": 234,\n            \"permissions\": \"read_write\"\n          },\n          {\n            \"id\": 345,\n            \"permissions\": \"read_only\"\n          },\n        ],\n        \"longview\": [\n          {\n            \"id\": 123,\n            \"permissions\": \"read_only\"\n          },\n          {\n            \"id\": 234,\n            \"permissions\": \"read_write\"\n          }\n        ],\n        \"nodebalancer\": [\n          {\n            \"id\": 123,\n            \"permissions\": \"read_write\"\n          }\n        ],\n        \"stackscript\": [\n          {\n            \"id\": 123,\n            \"permissions\": \"read_only\"\n          },\n          {\n            \"id\": 124,\n            \"permissions\": \"read_write\"\n          }\n        ],\n        \"volume\": [\n          {\n            \"id\": 123,\n            \"permissions\": \"read_only\"\n          }\n        ]\n    }' \\\n    https://api.linode.com/v4/account/users/example_user/grants\n"
          }
        ]
      }
    },
    "/domains": {
      "get": {
        "x-linode-grant": "read_only",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "tags": [
          "Domains"
        ],
        "summary": "List Domains",
        "description": "This is a collection of Domains that you have registered in Linode's DNS Manager.  Linode is not a registrar, and in order for these to work you must own the domains and point your registrar at Linode's nameservers.\n",
        "operationId": "getDomains",
        "x-linode-cli-action": "list",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of Domains you have registered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/page"
                    },
                    "pages": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/pages"
                    },
                    "results": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/results"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/domains\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli domains list\n"
          }
        ]
      },
      "post": {
        "x-linode-grant": "add_domains",
        "tags": [
          "Domains"
        ],
        "summary": "Create Domain",
        "description": "Adds a new Domain to Linode's DNS Manager. Linode is not a registrar, and you must own the domain before adding it here. Be sure to point your registrar to Linode's nameservers so that the records hosted here are used.\n",
        "operationId": "createDomain",
        "x-linode-cli-action": "create",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Information about the domain you are registering.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domain"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain added successfully.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST -d '{\n        \"domain\": \"example.com\",\n        \"type\": \"master\",\n        \"soa_email\": \"admin@example.com\",\n        \"description\": \"Example Description\",\n        \"refresh_sec\": 14400,\n        \"retry_sec\": 3600,\n        \"expire_sec\": 604800,\n        \"ttl_sec\": 3600,\n        \"status\": \"active\",\n        \"master_ips\": [\"127.0.0.1\",\"255.255.255.1\",\"123.123.123.7\"],\n        \"axfr_ips\": [\"44.55.66.77\"],\n        \"display_group\": \"Example Display Group\"\n    }' \\\n    https://api.linode.com/v4/domains\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli domains create \\\n  --type master \\\n  --domain example.org \\\n  --soa_email admin@example.org\n"
          }
        ]
      }
    },
    "/domains/{domainId}": {
      "parameters": [
        {
          "name": "domainId",
          "in": "path",
          "description": "The ID of the Domain to access.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "x-linode-grant": "read_only",
        "tags": [
          "Domains"
        ],
        "summary": "View Domain",
        "description": "This is a single Domain that you have registered in Linode's DNS Manager. Linode is not a registrar, and in order for this Domain record to work you must own the domain and point your registrar at Linode's nameservers.\n",
        "operationId": "getDomain",
        "x-linode-cli-action": "view",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_only"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A single Domain in Linode's DNS Manager.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/domains/123\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli domains view 123\n"
          }
        ]
      },
      "put": {
        "x-linode-grant": "read_write",
        "tags": [
          "Domains"
        ],
        "summary": "Update Domain",
        "description": "Update information about a Domain in Linode's DNS Manager.\n",
        "operationId": "updateDomain",
        "x-linode-cli-action": "update",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "The Domain information to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domain"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain update successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X PUT -d '{\n        \"domain\": \"example.com\",\n        \"type\": \"master\",\n        \"soa_email\": \"admin@example.com\",\n        \"description\": \"Example Description\",\n        \"refresh_sec\": 14400,\n        \"retry_sec\": 3600,\n        \"expire_sec\": 604800,\n        \"ttl_sec\": 3600,\n        \"status\": \"active\",\n        \"master_ips\": [\"127.0.0.1\",\"255.255.255.1\",\"123.123.123.7\"],\n        \"axfr_ips\": [\"44.55.66.77\"],\n        \"display_group\": \"Example Display Group\"\n    }' \\\n    https://api.linode.com/v4/domains/123\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli domains update 1234 \\\n  --retry_sec 7200 \\\n  --ttl_sec 300\n"
          }
        ]
      },
      "delete": {
        "x-linode-grant": "read_write",
        "tags": [
          "Domains"
        ],
        "summary": "Delete Domain",
        "description": "Deletes a Domain from Linode's DNS Manager. The Domain will be removed from Linode's nameservers shortly after this operation completes. This also deletes all associated Domain Records.\n",
        "operationId": "deleteDomain",
        "x-linode-cli-action": "delete",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    -X DELETE \\\n    https://api.linode.com/v4/domains/1234\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli domains delete 1234\n"
          }
        ]
      }
    },
    "/domains/import": {
      "post": {
        "x-linode-grant": "read_write",
        "tags": [
          "Domains"
        ],
        "summary": "Import Domain",
        "description": "Imports a domain zone from a remote nameserver.\nYour nameserver must allow zone transfers (AXFR) from the following IPs:\n\n  - 96.126.114.97\n  - 96.126.114.98\n  - 2600:3c00::5e\n  - 2600:3c00::5f\n",
        "operationId": "importDomain",
        "x-linode-cli-action": "import",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Information about the Domain to import.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "domain",
                  "remote_nameserver"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The domain to import.\n",
                    "example": "example.com"
                  },
                  "remote_nameserver": {
                    "type": "string",
                    "description": "The remote nameserver that allows zone transfers (AXFR).\n",
                    "example": "examplenameserver.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A single Domain in Linode's DNS Manager.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST -d '{\n      \"domain\": \"example.com\",\n      \"remote_nameserver\": \"examplenameserver.com\"\n    }' \\\n    https://api.linode.com/v4/domains/import\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli domains import --domain example.com --remote_nameserver examplenameserver.com\n"
          }
        ]
      }
    },
    "/domains/{domainId}/clone": {
      "parameters": [
        {
          "name": "domainId",
          "in": "path",
          "description": "ID of the Domain to clone.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "x-linode-grant": "read_write",
        "tags": [
          "Domains"
        ],
        "summary": "Clone Domain",
        "description": "Clones a Domain and all associated DNS records from a Domain that is registered in Linode's DNS manager.\n",
        "operationId": "cloneDomain",
        "x-linode-cli-action": "clone",
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_write"
            ]
          }
        ],
        "requestBody": {
          "description": "Information about the Domain to clone.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "domain"
                ],
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The new domain being created.",
                    "example": "example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new Domain in Linode's DNS Manager, based on a cloned Domain.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $TOKEN\" \\\n  -X POST -d '{\n  \"domain\": \"example.com\"\n}' \\ https://api.linode.com/v4/domains/123/clone\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli domains clone 123 --domain example.com\n"
          }
        ]
      }
    },
    "/domains/{domainId}/records": {
      "parameters": [
        {
          "name": "domainId",
          "in": "path",
          "description": "The ID of the Domain we are accessing Records for.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "x-linode-grant": "read_only",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageOffset"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_only"
            ]
          }
        ],
        "summary": "List Domain Records",
        "description": "Returns a paginated list of Records configured on a Domain in Linode's\nDNS Manager.\n",
        "operationId": "getDomainRecords",
        "x-linode-cli-action": "records-list",
        "responses": {
          "200": {
            "description": "A list of Domain Records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DomainRecord"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/page"
                    },
                    "pages": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/pages"
                    },
                    "results": {
                      "$ref": "#/components/schemas/PaginationEnvelope/properties/results"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/domains/1234/records\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli domains records-list 1234\n"
          }
        ]
      },
      "post": {
        "x-linode-grant": "read_write",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_write"
            ]
          }
        ],
        "summary": "Create Domain Record",
        "description": "Adds a new Domain Record to the zonefile this Domain represents.\n",
        "operationId": "createDomainRecord",
        "x-linode-cli-action": "records-create",
        "requestBody": {
          "description": "Information about the new Record to add.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "type"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DomainRecord"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain Record created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainRecord"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST -d '{\n      \"type\": \"A\",\n      \"name\": \"test\",\n      \"target\": \"12.34.56.78\",\n      \"priority\": 50,\n      \"weight\": 50,\n      \"port\": 80,\n      \"service\": null,\n      \"protocol\": null,\n      \"ttl_sec\": 604800\n    }' \\\n    https://api.linode.com/v4/domains/123/records\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli domains records-create 123 \\\n  --type A \\\n  --name test \\\n  --target 12.34.56.78 \\\n  --priority 50 \\\n  --weight 50 \\\n  --port 80 \\\n  --ttl_sec 604800\n"
          }
        ]
      }
    },
    "/domains/{domainId}/records/{recordId}": {
      "parameters": [
        {
          "name": "domainId",
          "in": "path",
          "description": "The ID of the Domain whose Record you are accessing.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "recordId",
          "in": "path",
          "description": "The ID of the Record you are accessing.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "x-linode-grant": "read_only",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_only"
            ]
          }
        ],
        "summary": "View Domain Record",
        "description": "View a single Record on this Domain.\n",
        "operationId": "getDomainRecord",
        "x-linode-cli-action": "records-view",
        "responses": {
          "200": {
            "description": "A Domain Record object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainRecord"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/domains/123/records/234\n"
          },
          {
            "lang": "CLI",
            "source": "linode-cli domains records-view 123 234\n"
          }
        ]
      },
      "put": {
        "x-linode-grant": "read_write",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "personalAccessToken": []
          },
          {
            "oauth": [
              "domains:read_write"
            ]
          }
        ],
        "summary": "Update Domain Record",
        "description": "Updates a single Record on this Domain.\n",
        "operationId": "updateDomainRecord",
[...]
